.section-image {
	/**
	 * Component styling
	 * - only styles of the container, no positioning of the component
	 */

	@include grid;

	/**
	 * States
	 */

	&:hover,
	&:focus {
		img {
			transform: scale(1.05);
		}
	}

	/**
	 * Children
	 * - stylings and positioning for simple tags and/or __child classes
	 * - positioning of other components
	 */

	&__inner {
		overflow: hidden;
		grid-column: 1 / 13;

		@media (min-width: $laptop-breakpoint) {
			grid-column: 4 / 12;
		}
	}

	img {
		@include image-aspect-ratio(1, 1);
		width: 100%;
		transition: transform $transition-fast ease-in;
	}
}

.page-page__wrapper {
	.wp-block-image {
		@media (max-width: $laptop-breakpoint - 1) {
			margin-left: 0;
			margin-right: 0;
		}

		@media (min-width: $laptop-breakpoint) {
			@include grid;
		}

		img {
			width: 100%;
			grid-column: 4 / 12;
		}

		figcaption {
			display: none;
		}
	}
}
