/**
 * Variables
 */
$typography-spacing-unit-min: 24px;
$typography-spacing-unit-max: 44px;
$typography-text-legend-color: #747474;

%t-typography,
.typography {
	/**
	 * Preventions
	 */
	// remove margin-top at the beginning
	> *:first-child {
		margin-top: 0px !important;
	}
	// remove margin-bottom at the end
	> *:last-child {
		margin-bottom: 0px !important;
	}
	// add margin-bottom between 2 elements
	> * {
		@include fluid(margin-bottom, ($fluid-min: $typography-spacing-unit-min, $fluid-max: $typography-spacing-unit-max));
	}

	summary {
		@extend %t-p--lead;
	}

	/**
	 * Headings
	 */

	> h1 {
		@extend %t-h1;
	}

	> h2 {
		@extend %t-h2;
		@include fluid(margin-top, ($fluid-min: $typography-spacing-unit-min + 10, $fluid-max: $typography-spacing-unit-max));
		@include fluid(margin-bottom, ($fluid-min: 14px, $fluid-max: 16px));
	}

	> h3 {
		@extend %t-h3;
		@include fluid(margin-top, ($fluid-min: 40px, $laptop-breakpoint: 40px, $fluid-max: 67px));
		@include fluid(margin-bottom, ($fluid-min: 16px, $fluid-max: 20px, $fluid-huge: 26px));
	}

	> h4 {
		@extend %t-h4;
		@include fluid(margin-top, ($fluid-min: $typography-spacing-unit-min * 1.5, $fluid-max: $typography-spacing-unit-max * 1.5));
		margin-bottom: 8px;
	}

	/**
	 * Paragraph
	 */
	> p {
		@extend %t-p;

		&:first-child:not(:only-child) {
			@include fluid(margin-bottom, ($fluid-min: $typography-spacing-unit-min, $fluid-max: $typography-spacing-unit-max));
		}
	}

	> p b {
		font-weight: 600!important;
	}

	> p.p--lead {
		// @extend %t-p; // commented: already extended as it's a p tag
		@extend %t-p--lead;
		margin-bottom: 36px;
	}

	/**
	 * Lists
	 */
	> ol,
	> ul {
		@extend %t-list-base;
	}
	> ol {
		@extend %t-list-ol;
	}
	> ul {
		@extend %t-list-ul;
	}

	/**
	 * Blockquote
	 */
	> blockquote {
		@include fluid(margin-top margin-bottom, ($fluid-min: 40px, $fluid-max: 70px));

		> * {
			width: 92%;
			margin-left: auto;
			margin-right: auto;
		}
	}

	/**
	 * Magazine product block
	 */
	.magazine-product {
		@include fluid(margin-top, ($tablet-breakpoint: 40px, $laptop-breakpoint: 64px));
		@include fluid(margin-bottom, ($tablet-breakpoint: 40px + 10px, $laptop-breakpoint: 64px + 20px));

		&:last-child {
			@include fluid(margin-bottom, ($tablet-breakpoint: 12px, $laptop-breakpoint: 24px), $suffix: !important);
		}
	}

	/**
	 * Button
	 */
	> .wp-block-button {
		display: block;
	}
	// adjacent
	> .wp-block-button + .wp-block-button {
		margin-top: -15px;
	}

	/**
	 * Figure
	 */
	> figure {
		@include fluid(margin-top, ($fluid-min: 40px, $desktop-breakpoint: 40px, $fluid-max: 64px));
		img {
			display: block;
			max-width: 100%;
			width: 100%;
			height: auto;
		}

		figcaption,
		& > p {
			@include fluid(font-size, ($fluid-max: 14px, $fluid-huge: 16px));
			@include fluid(padding-top, ($fluid-min: 8px, $fluid-max: 16px));
			color: $typography-text-legend-color;
			line-height: 1.4;
		}
	}

	figure:not(.gallery__img):not(.wp-block-embed-twitter),
	.gallery {
		// @include fluid(margin-left margin-right, ($tablet-breakpoint: -32px, $laptop-breakpoint: -32px, $fluid-max: -76px), $initial-value: false);
		@media(max-width: $tablet-breakpoint - 1) {
			// margin-right: 0px;
			// margin-left: 0px;
		}
	}

	figure > p,
	.gallery__caption {
		@media(min-width: $tablet-breakpoint) {
			// @include fluid(margin-left, ($tablet-breakpoint: 32px, $laptop-breakpoint: 32px, $fluid-max: 76px), $initial-value: false);
		}
	}

	/**
	 * Embeds
	 */
	> .wp-block-embed-spotify iframe:not([src*="playlist"]) {
		height: 80px; // hide the useless cover artwork
	}

	> .wp-block-embed-soundcloud iframe:not([src*="playlist"]) {
		height: 100px; // make it shorter
	}

	> .wp-block-embed-twitter {
		@media (min-width: $tablet-breakpoint) {
			max-width: 350px;
		}
	}

	> .wp-block-audio {
		> audio {
			width: 100%;
			max-width: 580px;
		}
	}
}
