{# TODO: make sure we have same markup as gutenberg blocks (maybe use native quote / accordion / etc) #}

<div class="typography {{ modifiers|join(' ') }}" {{ html_attrs|attrs }}>
	<summary>Lorem non consectetur do et laboris consequat sunt non laboris pariatur. Aliquip ut in consequat in adipisicing aliquip veniam ea velit. Officia aliqua culpa nisi ad duis duis ut.</summary>

	<p>Amet esse ullamco esse minim reprehenderit consectetur aliquip. Consequat dolore consequat cillum irure elit officia amet deserunt anim. Ipsum voluptate eiusmod excepteur ullamco nulla tempor nostrud. Mollit veniam laborum ex minim anim magna sit velit. <a href="#">Consequat adipisicing do deserunt ipsum sit est tempor sit mollit ut.</a>Non amet Lorem laborum est.</p>

	<h2>Reprehenderit sunt est do non ad cupidatat proident.</h2>

	<p>Ex commodo <strong>culpa qui elit</strong> adipisicing ea magna <mark>pariatur ex incididunt</mark>. Mollit irure enim eiusmod consectetur pariatur elit enim non id. Aute mollit id laboris id Lorem est laboris fugiat sunt occaecat ex pariatur mollit.<br/><br/><em>Dolor qui sit ea qui. Consectetur incididunt ad fugiat aute laboris veniam ut adipisicing.</em></p>

	<figure>
		<img src="/img/placeholder/typography-figure-1.jpg">
		<p>© Alisa Anton - Vivamus id turpis vel libero molestie dictum.</p>
	</figure>

	<h3>Anim eu est laboris</h3>
	<p>Quis nostrud elit amet nostrud et. Excepteur in ullamco esse commodo eu sit <strong>aute incididunt esse ipsum</strong>. Non dolore ea aliqua dolore id tempor. Ut fugiat id quis exercitation sunt deserunt cupidatat do nulla reprehenderit quis. Non sunt deserunt fugiat proident aliqua tempor sunt laboris pariatur laboris quis culpa consequat. Deserunt cillum adipisicing ullamco fugiat. Eu sint voluptate id ipsum magna commodo labore incididunt do deserunt ullamco officia nostrud.	<br><br>Sunt do minim minim exercitation. Culpa esse ea veniam ullamco dolore nostrud amet deserunt ex elit aliqua non. Est eiusmod in fugiat aliqua aute ea aute nostrud tempor cillum officia in. Mollit sit aute aliqua veniam incididunt elit deserunt amet qui cupidatat in. Labore deserunt anim nisi dolor tempor veniam. Consectetur tempor nisi reprehenderit consequat. Laboris nostrud labore dolor quis qui ut minim amet deserunt elit consequat nisi dolor. Labore occaecat dolor eiusmod culpa adipisicing occaecat. Esse veniam amet laborum occaecat occaecat occaecat sit labore eu eiusmod occaecat.</p>

	{% include 'wp-blocks/block-quote/block-quote.twig' with { data: { quote: '«Eu laborum exercitation pariatur cillum voluptate magna eiusmod in pariatur dolore dolore. In ex magna anim culpa culpa enim. Magna veniam amet nostrud sint incididunt esse Lorem aliqua incididunt voluptate qui deserunt nisi non.»' , source: '<b>John Smith</b><br/>Elit amet sunt consectetur culpa<br/>Lorem ea magna dolore occaecat anim commodo'}}%}

	<h3>Anim eu est laboris</h3>
	<p>Quis nostrud elit amet nostrud et. Excepteur in ullamco esse commodo eu sit aute incididunt esse ipsum. Non dolore ea aliqua dolore id tempor. Ut fugiat id quis exercitation sunt deserunt cupidatat do nulla reprehenderit quis. Non sunt deserunt fugiat proident aliqua tempor sunt laboris pariatur laboris quis culpa consequat. Deserunt cillum adipisicing ullamco fugiat. Eu sint voluptate id ipsum magna commodo labore incididunt do deserunt ullamco officia nostrud.	<br><br>Sunt do minim minim exercitation. Culpa esse ea veniam ullamco dolore nostrud amet deserunt ex elit aliqua non. Est eiusmod in fugiat aliqua aute ea aute nostrud tempor cillum officia in. Mollit sit aute aliqua veniam incididunt elit deserunt amet qui cupidatat in. Labore deserunt anim nisi dolor tempor veniam. Consectetur tempor nisi reprehenderit consequat. Laboris nostrud labore dolor quis qui ut minim amet deserunt elit consequat nisi dolor. Labore occaecat dolor eiusmod culpa adipisicing occaecat. Esse veniam amet laborum occaecat occaecat occaecat sit labore eu eiusmod occaecat.</p>

	<h4>Liste à puces</h4>
	<ul>
		<li>Cras dignissim dictum ante, eget mollis leo molestie non</li>
		<li>Aenean hendrerit sem ac lorem iaculis, condimentum sagittis leo bibendum. Curabitur sit amet tellus ut neque commodo dignissim:
			<ul>
				<li>Curabitur arcu magna, suscipit sit amet risus quis, dapibus varius orci. Donec dignissim in justo id feugiat.</li>
				<li>Aliquam sed enim auctor, euismod leo nec, lobortis turpis. In condimentum accumsan mattis. Sed ut lorem vulputate, vehicula nisl nec, vulputate augue.</li>
			</ul>
		</li>
		<li>Etiam risus eros, congue at leo at, finibus facilisis est.</li>
	</ul>

	<h4>Liste à numéros</h4>
	<ol>
		<li>Cras dignissim dictum ante, eget mollis leo molestie non</li>
		<li>Aenean hendrerit sem ac lorem iaculis, condimentum sagittis leo bibendum. Curabitur sit amet tellus ut neque commodo dignissim:
			<ol>
				<li>Curabitur arcu magna, suscipit sit amet risus quis, dapibus varius orci. Donec dignissim in justo id feugiat.</li>
				<li>Aliquam sed enim auctor, euismod leo nec, lobortis turpis. In condimentum accumsan mattis. Sed ut lorem vulputate, vehicula nisl nec, vulputate augue.</li>
			</ol>
		</li>
		<li>Etiam risus eros, congue at leo at, finibus facilisis est.</li>
	</ol>

	<p>Id sunt Lorem nulla aliquip eiusmod minim tempor reprehenderit fugiat. Amet mollit ullamco duis sint occaecat consectetur aliquip tempor excepteur velit ea sint sit ad. Labore velit minim reprehenderit nostrud fugiat ipsum adipisicing eiusmod. Anim nisi cillum voluptate aliquip. Incididunt enim elit sunt deserunt excepteur quis occaecat ullamco aliqua ea velit ut ut. Minim esse reprehenderit ipsum consectetur ex occaecat irure cupidatat pariatur esse Lorem proident id voluptate.</p>

	<h3>Pariatur sint ullamco duis</h3>
	<p>Irure consectetur consequat id incididunt. Labore aliqua adipisicing velit et enim esse nisi amet commodo. Proident sint magna mollit non eiusmod cupidatat amet Lorem. Occaecat deserunt ex nostrud ea qui. Nisi adipisicing nulla qui velit aliqua dolore duis laboris cillum mollit. Sunt adipisicing nisi magna duis. Magna reprehenderit culpa pariatur ullamco eiusmod.</p>

	<div class="gallery has-8 " data-gallery="" itemscope="" itemtype="http://schema.org/ImageGallery">
		<figure class="gallery__img" itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
			<a href="/img/placeholder/typography-figure-1.jpg" class="gallery__img-link" data-sub-html=".gallery__img-caption" data-gallery-img="" sizes="100vw" src="" alt="" itemprop="contentUrl">
				<img src="/img/placeholder/typography-figure-1.jpg" itemprop="thumbnail">
				<figcaption class="gallery__img-caption" itemprop="caption description"></figcaption>
			</a>
		</figure>
		<figure class="gallery__img" itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
			<a href="/img/placeholder/typography-figure-1.jpg" class="gallery__img-link" data-sub-html=".gallery__img-caption" data-gallery-img="" sizes="100vw" src="" alt="" itemprop="contentUrl">
				<img src="/img/placeholder/typography-figure-1.jpg" itemprop="thumbnail">
				<figcaption class="gallery__img-caption" itemprop="caption description"></figcaption>
			</a>
		</figure>
		<figure class="gallery__img" itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
			<a href="/img/placeholder/typography-figure-1.jpg" class="gallery__img-link" data-sub-html=".gallery__img-caption" data-gallery-img="" sizes="100vw" src="" alt="" itemprop="contentUrl">
				<img src="/img/placeholder/typography-figure-1.jpg" itemprop="thumbnail">
				<figcaption class="gallery__img-caption" itemprop="caption description"></figcaption>
				<div class="gallery__cta">+ 5 images</div>
			</a>
		</figure>
		<div class="gallery__caption">© Alisa Anton - Vivamus id turpis vel libero molestie dictum.</div>
	</div>

	<p>Sint mollit pariatur eiusmod laboris nisi dolore. Occaecat nisi officia eu consequat aliquip in in minim pariatur magna eu cillum in. Aliquip irure laboris occaecat ad dolore exercitation minim elit exercitation consequat ex eiusmod. Proident commodo sunt non ipsum dolore ad esse amet tempor aliquip excepteur proident est sit. Culpa reprehenderit proident eu occaecat culpa id aliquip ipsum deserunt dolore ipsum ea consequat.Commodo sit anim ipsum duis aute nulla eiusmod. Dolore nulla dolore tempor proident. Enim elit pariatur consequat minim. Non nostrud dolore qui anim consectetur Lorem deserunt reprehenderit nostrud.</p>

	{% include "wp-blocks/block-embed/block-embed--twitter.twig" %}

	<h3>Deserunt aute qui dolor ut incididunt velit veniam consectetur quis ea exercitation sit.</h3>
	<p>Cupidatat elit laborum et minim eiusmod magna ullamco Lorem. Sit officia irure enim aute. Exercitation proident commodo amet qui sint amet ut tempor sit qui irure dolore. Deserunt ea aute quis sint tempor minim qui do esse id ullamco aliqua ut sint. Exercitation minim incididunt dolore cillum eiusmod aliqua eu consequat excepteur sunt nulla elit id ut.</p>
	<p>Eu deserunt ipsum irure minim sunt quis et sit est. Ad non pariatur aute est nulla qui veniam duis enim. Consectetur sit anim laborum exercitation tempor ullamco id laboris labore aute.</p>

	{% include "wp-blocks/block-embed/block-embed--youtube.twig" %}

	<p>Eu deserunt ipsum irure minim sunt quis et sit est. Ad non pariatur aute est nulla qui veniam duis enim. Consectetur sit anim laborum exercitation tempor ullamco id laboris labore aute.</p>
	<p>Cupidatat elit laborum et minim eiusmod magna ullamco Lorem. Sit officia irure enim aute. Exercitation proident commodo amet qui sint amet ut tempor sit qui irure dolore. Deserunt ea aute quis sint tempor minim qui do esse id ullamco aliqua ut sint. Exercitation minim incididunt dolore cillum eiusmod aliqua eu consequat excepteur sunt nulla elit id ut.</p>

</div>
