.menu {
	/**
	 * Component styling
	 * - only styles of the container, no positioning of the component
	 */

	 @include grid;

	 /**
	 * Children
	 * - stylings and positioning for simple tags and/or __child classes
	 * - positioning of other components
	 */

	 &__inner {
		@include faux-subgrid(12);
		@include fluid(padding-top padding-bottom, ($fluid-min: 32px, $fluid-max: 64px));

		grid-column: 1 / 13;
		background-color: $color-brand-alt;

		@media (min-width: $laptop-breakpoint) {
			@include faux-subgrid(9);
			grid-column: 2 / 11;
		}
	}

	&__title,
	&__list {
		grid-column: 1 / 13;
		@include fluid(margin-left margin-right, ($fluid-min: 12px, $tablet-breakpoint: 22px, $laptop-breakpoint - 1: 22px, $laptop-breakpoint: -24px, $desktop-breakpoint: -32px));

		@media (min-width: $laptop-breakpoint) {
			grid-column: 2 / 9;
		}
	}

	&__title {
		@extend %t-h1;
		@include fluid(margin-bottom, ($fluid-min: 20px, $fluid-max: 30px));
	}

	&__list {
		list-style-type: none;
		overflow: hidden;

		&-section:not(:last-child) {
			margin-bottom: 15px;
		}
	}
}
