<div class="menu {{ modifiers|join(' ') }}" {{ html_attrs|attrs }} data-menu>
	<div class="menu__inner">
		<h1 class="menu__title">Carte</h1>
		<ul class="menu__list">
			{% for item in data.list %}
			<li class="menu__list-section">
				{% include 'molecules/menu-section/menu-section.twig' with item %}
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
