<main id="content" class="content page__main">
	{% block content %}Sorry, no content{% endblock %}
</main>

<footer class="page__footer">
{% block footer %}
	{% include 'organisms/footer/footer.twig' %}
	{% block js %}
	{# add scripts here if you want #}
	{% endblock %}
{% endblock %}
</footer>
