<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7 no-js"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8 no-js"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9 no-js"> <![endif]-->
<!--[if IE 9 ]>    <html class="lt-ie10 ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	{% block head_before %}
		{# add head scripts/css here if you need them to be before the bundle #}
	{% endblock %}

	{# TODO update http to https to enable HTTPs #}
	<link rel="stylesheet" media="all" href="http://localhost:3000/bundle.css" /> {# TODO: on build, use another path! #}
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">

	<title>Preview: {{ _target.title }}</title>

	<script type="text/javascript">
		var html = document.getElementsByTagName('html')[0];
		html.className = html.className.replace(/(?:^|\s)no-js(?!\S)/g, 'js');
	</script>

	{# <script>
		var currentTheme = 'theme-ape';
			window.addEventListener('message', function (event) {
				if ( !(event.data.type && event.data.type === 'theme-change') ) return;

			document.body.classList.remove(currentTheme);
			currentTheme = 'theme-'+event.data.value;
			document.body.classList.add(currentTheme);
		});
	</script> #}

	{% block head %}
		{# add head scripts/css here if you want #}
	{% endblock %}
</head>

<body class="{{ _target.context.bodyClass }}">
	{% block body_prepend %}{% endblock %}

	{{ yield|raw }}

	{% block body_append %}{% endblock %}

	{# TODO update http to https to enable HTTPs #}
	<script type="text/javascript" src="http://localhost:3000/bundle.js"></script>

	{% block js %}
	{% endblock %}
</body>

</html>
