.header {
	/**
	 * Variables
	 */

	$header-breakpoint: 1056px;

	/**
	 * Component styling
	 * - only styles of the container, no positioning of the component
	 */

	overflow: hidden;

	/**
	 * Children
	 * - stylings and positioning for simple tags and/or __child classes
	 * - positioning of other components
	 */
	&__image {
		@include image-aspect-ratio(1, 1);
		width: 100%;

		@media (max-width: $laptop-breakpoint - 1) {
			height: 375px;
			object-fit: cover;
		}

		&-wrapper {
			position: relative;
			z-index: -1;
		}
	}

	&__logo {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);

		img {
			@include fluid(height, ($fluid-min: 130px, $fluid-max: 270px));
		}
	}

	&__inner {
		@include grid;

    @media (max-width: $laptop-breakpoint - 1) {
			background: $color-neutral--100;
			padding: 14px 10px;
			margin-top: -30px;
    }
	}

	&__content {
		grid-column: 1 / 13;

		@media (min-width: $laptop-breakpoint) {
			grid-column: 6 / 13;
			margin-top: -105px;
			background-color: white;
			width: 60vw;
			padding: 38px 32px;
		}
	}
}


/**
 * Modifiers
 */

.header--article {
	/**
	 * Component overrides
	 */


	/**
	 * Children overrides
	 */

	.header__inner {
		@include fluid(padding-top, ($fluid-min: 25px, $fluid-max: 45px));
		padding: 0;

		@media (max-width: $laptop-breakpoint - 1) {
			margin-top: -55px;
		}
	}

	.header__logo {
		transform: translate(-50%, -50%) scale(.8);
	}

	.header__content {
		grid-column: 2 / 12;
		padding-left: 0;
		padding-right: 0;

		@media (min-width: $laptop-breakpoint) {
			@include faux-subgrid(8);
			grid-column: 3 / 11;
			width: unset;
			margin-top: -120px;
		}
	}

	.header__title,
	.header__informations {
		@media(min-width: $laptop-breakpoint) {
			grid-column: 2 / 8;
		}
	}

	.header__title {
		@extend %t-h1;
		margin-bottom: 20px;
	}

	.header__informations {
		display: flex;
		flex-wrap: wrap;

		&-separator {
			margin: 0 10px;
		}

		&-tag {
			width: 100%;
			margin-top: 10px;
			text-decoration: underline;
			font-weight: $font-weight-bold;

			@media (min-width: $laptop-breakpoint) {
				width: unset;
				margin-top: 0;
				margin-left: auto;
			}
		}
	}
}
