<div class="header {{ modifiers|join(' ') }}" {{ html_attrs|attrs }}>
	<div class="header__image-wrapper">
		<img class="header__image" {{ data.image|responsive(img_size, false) }}>
		<a class="header__logo">
			<img {{ data.logo|responsive(img_size, false) }}>
		</a>
	</div>
	<div class="header__inner">
		<div class="header__content">
			{% if modifiers != ['header--article'] %}
				{% include 'molecules/contact/contact.twig' with data.contact %}
			{% else %}
				<h1 class="header__title">{{ data.article.title }}</h1>
				<div class="header__informations">
					<span class="header__informations-date">{{ data.article.date }}</span><span class="header__informations-separator">–</span><span class="header__informations-author">{{ data.article.author }}</span>
					<span class="header__informations-tag">{{ data.article.tag }}</span>
				</div>
			{% endif %}
		</div>
	</div>
</div>
