.template-homepage {
	/**
	 * Children
	 * - stylings and positioning for simple tags and/or __child classes
	 * - positioning of other components
	 */

	.menu {
		@include fluid(margin-top, ($fluid-min: 24px, $fluid-max: 64px));
		@include fluid(margin-bottom, ($fluid-min: 48px, $fluid-max: 64px));
	}

	.weekmenu {
		@include fluid(margin-top, ($fluid-min: 48px, $fluid-max: 64px));
		@include fluid(margin-bottom, ($fluid-min: 24px, $fluid-max: 64px));
	}

	.section-card-news {
		@include fluid(margin-top margin-bottom, ($fluid-min: 48px, $fluid-max: 64px));
	}

	.free-text {
		@include grid;

		.typography {
			grid-column: 1 / 13;

			@media (min-width: $laptop-breakpoint) {
				@include fluid(padding-top, ($fluid-min: 48px, $fluid-max: 64px));
				grid-column: 2 / 11;

				> * {
					margin-left: 80px;
					margin-right: 80px;
				}
			}

		}
	}

	.section-image,
	.wp-block-image {
		@include fluid(margin-top margin-bottom, ($fluid-min: 48px, $fluid-max: 64px));

		@media (max-width: $laptop-breakpoint - 1) {
			margin-left: 0px;
			margin-right: 0px;
		}
	}
}
