{% extends "_base.twig" %}

{% block content %}

	<div class="template-homepage {{ modifiers|join(' ') }}" {{ html_attrs|attrs }}>

		{% include 'organisms/header/header.twig' with data.header %}

		{% include 'organisms/section-schedule/section-schedule.twig' with data.schedule %}

		{% include 'organisms/section-image/section-image.twig' %}

		{% include 'organisms/weekmenu/weekmenu.twig' %}

		<div class="menu " data-menu="">
			<div class="menu__inner">
				<h1 class="menu__title">Carte</h1>
				<ul class="menu__list">
					<li class="menu__list-section">
						<div class="menu-section " data-menu-section="">
							<div class="menu-section__header">
								<h2>Entrées</h2>
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 16 16">
									<g fill="none" fill-rule="evenodd">
										<rect width="16" height="1" y="7.5" fill="#000"></rect>
										<rect class="menu-section__icon" width="1" height="16" x="7.5" fill="#000"></rect>
									</g>
								</svg>
							</div>
							<ul class="menu-section__list">
								<li class="menu-section__item">
									<span class="menu-section__item-text">Salade verte<span></span>
									</span>
									<span class="menu-section__item-price">6.50</span>
								</li>
								<li class="menu-section__item">
									<span class="menu-section__item-text">Salade mêlée<span></span>
									</span>
									<span class="menu-section__item-price">8.00</span>
								</li>
								<li class="menu-section__item">
									<span class="menu-section__item-text">Velouté aux légumes<span></span>
									</span>
									<span class="menu-section__item-price">11.00</span>
								</li>
							</ul>
						</div>

					</li>
					<li class="menu__list-section">
						<div class="menu-section " data-menu-section="">
							<div class="menu-section__header">
								<h2>Propositions d'été</h2>
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 16 16">
									<g fill="none" fill-rule="evenodd">
										<rect width="16" height="1" y="7.5" fill="#000"></rect>
										<rect class="menu-section__icon" width="1" height="16" x="7.5" fill="#000"></rect>
									</g>
								</svg>
							</div>
							<ul class="menu-section__list">
								<li class="menu-section__item">
									<span class="menu-section__item-text">Grande salade mêlée<span></span>
									</span>
									<span class="menu-section__item-price">16.00</span>
								</li>
								<li class="menu-section__item">
									<span class="menu-section__item-text">Salade Pacifique<span>Poulet, crevettes, ananas, salade verte</span>
									</span>
									<span class="menu-section__item-price">19.50</span>
								</li>
								<li class="menu-section__item">
									<span class="menu-section__item-text">Salade fitness<span>Salade mêlée, escalope de poulet grillée</span>
									</span>
									<span class="menu-section__item-price">20.00</span>
								</li>
								<li class="menu-section__item">
									<span class="menu-section__item-text">Salade César<span>Salade verte, émincé de poulet, croûtons, lardons, tomates</span>
									</span>
									<span class="menu-section__item-price">20.00</span>
								</li>
								<li class="menu-section__item">
									<span class="menu-section__item-text">Salade Gourmande<span>Salade verte, jambon, gruyère, lardons, oeuf dur, croûtons, tomates</span>
									</span>
									<span class="menu-section__item-price">20.00</span>
								</li>
								<li class="menu-section__item">
									<span class="menu-section__item-text">Salade de queues de crevettes tièdes<span>Salade verte, tomates, carottes, queues de crevettes</span>
									</span>
									<span class="menu-section__item-price">20.00</span>
								</li>
								<div class="menu-section__informations">
									<div class="menu-section__informations-item">
										<span class="menu-section__informations-title">Sauces au choix</span>
										<ul class="menu-section__informations-list">
											<li>Poivre vert: 4.50</li>
											<li>Beurre maison: 4.50</li>
											<li>Morilles: 4.50</li>
										</ul>
									</div>
									<div class="menu-section__informations-item">
										<span class="menu-section__informations-title">Provenance de nos viandes</span>
										<ul class="menu-section__informations-list">
											<li>Suisse: boeuf et veau</li>
											<li>Canada, Australie: cheval</li>
											<li>France, Brésil: poulet</li>
										</ul>
									</div>
								</div>
							</ul>
						</div>

					</li>
					<li class="menu__list-section">
						<div class="menu-section " data-menu-section="">
							<div class="menu-section__header">
								<h2>Pâtes</h2>
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 16 16">
									<g fill="none" fill-rule="evenodd">
										<rect width="16" height="1" y="7.5" fill="#000"></rect>
										<rect class="menu-section__icon" width="1" height="16" x="7.5" fill="#000"></rect>
									</g>
								</svg>
							</div>
							<ul class="menu-section__list">
								<li class="menu-section__item">
									<span class="menu-section__item-text">Carbonara<span></span>
									</span>
									<span class="menu-section__item-price">16.00</span>
								</li>
								<li class="menu-section__item">
									<span class="menu-section__item-text">Bolognaise<span></span>
									</span>
									<span class="menu-section__item-price">19.50</span>
								</li>
							</ul>
						</div>

					</li>
					<li class="menu__list-section">
						<div class="menu-section " data-menu-section="">
							<div class="menu-section__header">
								<h2>Burgers</h2>
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 16 16">
									<g fill="none" fill-rule="evenodd">
										<rect width="16" height="1" y="7.5" fill="#000"></rect>
										<rect class="menu-section__icon" width="1" height="16" x="7.5" fill="#000"></rect>
									</g>
								</svg>
							</div>
							<ul class="menu-section__list">
								<li class="menu-section__item">
									<span class="menu-section__item-text">The Beef Burger<span>Gruyère, rucola, oignons rouges, moutarde en grains et mayonnaise, pommes frites</span>
									</span>
									<span class="menu-section__item-price">20.00</span>
								</li>
								<li class="menu-section__item">
									<span class="menu-section__item-text">The Beef Burger<span>Gruyère, rucola, oignons rouges, moutarde en grains et mayonnaise, pommes frites</span>
									</span>
									<span class="menu-section__item-price">20.00</span>
								</li>
								<div class="menu-section__informations">
									<div class="menu-section__informations-item">
										<span class="menu-section__informations-title">Sauces au choix</span>
										<ul class="menu-section__informations-list">
											<li>Poivre vert: 4.50</li>
											<li>Beurre maison: 4.50</li>
											<li>Morilles: 4.50</li>
										</ul>
									</div>
									<div class="menu-section__informations-item">
										<span class="menu-section__informations-title">Provenance de nos viandes</span>
										<ul class="menu-section__informations-list">
											<li>Suisse: boeuf et veau</li>
											<li>Canada, Australie: cheval</li>
											<li>France, Brésil: poulet</li>
										</ul>
									</div>
								</div>
							</ul>
						</div>

					</li>
				</ul>
			</div>
		</div>

		{% include 'organisms/section-image/section-image.twig' %}

		<div class="free-text">
			<div class="typography">
				{{ data.freetext }}
			</div>
		</div>

		<div class="section-card-news ">
			<div class="section-card-news__inner">
				<div class="section-card-news__title">
					<h1>News</h1>
				</div>
				<div class="section-card-news__list">
					<a class="card-news " href="#">
						<h2 class="card-news__title">Découvrez la saveur de nos pizza !</h2>
						<p class="card-news__description">Lorem ipsum dolores nice news content should not be too long to still be interesting. But yes we can do one more phrase that should work this way! Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</a>
					<a class="card-news " href="#">
						<h2 class="card-news__title">Découvrez la saveur de nos pizza !</h2>
						<p class="card-news__description">Lorem ipsum dolores nice news content should not be too long to still be interesting. But yes we can do one more phrase that should work this way! Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</a>
					<a class="card-news " href="#">
						<h2 class="card-news__title">Découvrez la saveur de nos pizza !</h2>
						<p class="card-news__description">Lorem ipsum dolores nice news content should not be too long to still be interesting. But yes we can do one more phrase that should work this way! Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</a>
					<a class="card-news " href="#">
						<h2 class="card-news__title">Découvrez la saveur de nos pizza !</h2>
						<p class="card-news__description">Lorem ipsum dolores nice news content should not be too long to still be interesting. But yes we can do one more phrase that should work this way! Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</a>
					<a class="card-news " href="#">
						<h2 class="card-news__title">Découvrez la saveur de nos pizza !</h2>
						<p class="card-news__description">Lorem ipsum dolores nice news content should not be too long to still be interesting. But yes we can do one more phrase that should work this way! Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</a>
					<a class="card-news " href="#">
						<h2 class="card-news__title">Découvrez la saveur de nos pizza !</h2>
						<p class="card-news__description">Lorem ipsum dolores nice news content should not be too long to still be interesting. But yes we can do one more phrase that should work this way! Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</a>
				</div>
			</div>
		</div>

	</div>

{% endblock %}

