{% extends "_preview.twig" %}

{# TODO: update grid if needed #}

{% block head %}
  <style>
		.container {
			max-width: 600px;
			margin: 30px auto;
		}

		@media (max-width: 620px) {
			.container {
				margin: 30px 16px;
			}
		}
	</style>
{% endblock %}

{% block body_prepend %}
<div class="container">
{% endblock %}

{% block body_append %}
</div>
{% endblock %}
