{# ------
 # README
 # ------
 # Be cautious about changing the markup or naming here as it
 # impacts the website globally.
 # Make sure styleguide/components/templates/_preview.twig stays in
 # sync with this structure to avoid inconsistencies between styleguide
 # and wordpress environments
 #}

{% include 'partial/html-head.twig' %}

<body class="{{body_class}}">
	{# <a class="page__skip-link screen-reader-text" href="#content">{{ __('Skip to content', 'supt') }}</a> #}

	{# {% block header %}
	<header class="header" >
		{% include "menu.twig" %}
		{% if title %}<h1>{{title}}</h1>{% endif %}
	</header>
	{% endblock %} #}

	<main id="content" class="content page__main">
		{% block content %}Sorry, no content{% endblock %}
	</main>

	{% if sidebar %}
	<aside class="sidebar">
		{{sidebar}}
	</aside>
	{% endif %}

	{% block footer %}
		{% include 'organisms/footer/footer.twig' with { data: footer.data } %}
		{{ fn('wp_footer') }}
	{% endblock %}
</body>
