{% if menu %}
<nav class="page__nav">
	<ul>
	{% for item in menu.get_items %}
		<li class="{{ item.classes | join(' ') }}">
			<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
		</li>
	{% endfor %}
	</ul>
</nav>
{% endif %}
