{% extends "_base.twig" %}

{% block content %}
	{% include 'organisms/header/header.twig' with {
		modifiers: ['header'],
		data: {
			image: {
				src: '/wp-content/uploads/2020/04/header.png',
				alt: 'Pizza Pasta'
			},
			logo: {
				src: '/wp-content/uploads/2020/05/logo-white.png',
				alt: 'Pizza Pasta Logo'
			},
			contact: {
				data: meta
			}
		}
	} %}
	<div class="template-homepage page-page__wrapper">
		{{post.content}}
	</div
{% endblock %}
