{% extends "_base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<section class="article-content template-article">
				{% include 'organisms/header/header.twig' with {
					modifiers: ['header--article'],
					data: {
						image: {
							src: '/wp-content/uploads/2020/04/header-article.png',
							alt: 'Pizza Pasta'
						},
						logo: {
							src: '/wp-content/uploads/2020/05/logo-white.png',
							alt: 'Pizza Pasta Logo'
						},
						article: {
							title: post.title,
							date: post.date,
							author: post.author.name,
							tag: data.tag
						}
					}
				} %}

				<div class="article-body template-article__content">
					<div class="typography">
						{{post.content}}
					</div>
				</div>
			</section>

			<!-- comment box -->
			{# <section class="comment-box">
				<!-- comments -->
				<div class="comments">
				    {% if post.comments %}
					<h3> comments </h3>
					{% for cmt in post.comments %}
					    {% include "comment.twig" with {comment:cmt} %}
					{% endfor %}
				    {% endif %}
				</div>

				{% if post.comment_status == "closed" %}
					<p> comments for this post are closed </p>
				{% else %}
				    <!-- comment form -->
				    {% include "comment-form.twig" %}
				{% endif %}
			</section> #}
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
