$lg-path-fonts: '/fonts/lg';
$lg-path-images: '/img';
@import './lightgallery/sass/lightgallery.scss';

.gallery {
	/**
	 * Variables
	 */

	/**
	 * Component styling
	 * - only styles of the container, no positioning of the component
	 */
	@include grid;
	grid-row-gap: 16px;
	column-gap: 16px!important;

	/**
	 * States
	 */

	/**
	 * Children
	 * - stylings and positioning for simple tags and/or __child classes
	 * - positioning of other components
	 */

	.gallery__img {
		@media (min-width: $tablet-breakpoint) {
			grid-column-end: span 6;

			&:nth-child(1) {
				grid-column: 1 / 13;
			}

			&:nth-child(3) {
				grid-column-start: 7;
			}
		}

		overflow: hidden; // for image zoom effect

		// show only 4 first images
		&:nth-child(n+4) {
			display: none;
		}

		img {
			display: block;
			width: 100%;
			transition: $transition-mid;
		}

		figcaption {
			display: none;
		}
	}

	.gallery__img-link {
		display: block;
		position: relative;
		cursor: zoom-in;
	}

	.gallery__cta {
		@include fluid(font-size, ($fluid-min: 24px, $fluid-max: 32px));
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 13%;
		background-color: rgba(0, 0, 0, .7);
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		color: $color-neutral--100;
		transition: background-color .7s ease;

		> * {
			display: block;
		}

		> .gallery__cta-legend {
			font-size: 24px;
			margin: auto 0;
			line-height: 1.15;
			color: #fff;

			@media (min-width: $desktop-breakpoint) {
				font-size: 32px;
			}

			b {
				font-weight: $font-weight-bold;
			}
		}
	}

	/* hover/focus state */
	.gallery__img a:hover img,
	.gallery__img a:focus img {
		transform: $transition-mid;
	}

	.gallery__img a:hover .gallery__cta,
	.gallery__img a:focus .gallery__cta {
		background-color: rgba(0, 0, 0, .3);
	}

	.gallery__caption {
		grid-column: 1 / span 12;

		color: $color-neutral--600;
		@include fluid(font-size, ($fluid-max: 14px, $fluid-huge: 16px));
		line-height: 1.3;

		// note: gets overriden in templates as it should align with content
		// @media (min-width: $tablet-breakpoint) {
		// 	grid-column: 4 / span 6;
		// }
		// @media (min-width: $tablet-breakpoint) {
		// 	grid-column: 5 / span 4;
		// }

		b,
		strong {
			font-weight: $font-weight-bold;
		}
	}

}
