{# markup guidelines: https://photoswipe.com/documentation/seo.html #}
{# TODO: have the markup working in styleguide (for now it works only in wp!) #}

<div {% if data.anchor %}id="{{ data.anchor }}"{% endif %}class="gallery has-{{ data.images|length }} {{ modifiers|join(' ') }}" {{ html_attrs|attrs }}{% if data.images|length > 1 %} data-gallery{% endif %} itemscope itemtype="http://schema.org/ImageGallery">
	{% for img in data.images %}
		<figure class="gallery__img" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
			<a href="{{ img.src }}" class="gallery__img-link" data-sub-html=".gallery__img-caption" data-gallery-img {{ img|responsive('full', false) }} itemprop="contentUrl">
				{% if loop.index0 < 3 %}
				<img src="{{ img.src }}" {{ img|responsive('gallery-grid', false, false) }} itemprop="thumbnail" />
				{% else %}
				<img src="{{ img.src }}" itemprop="thumbnail" />
				{% endif %}
				<figcaption class="gallery__img-caption" itemprop="caption description">{{ img.caption }}</figcaption>
				{% if loop.index0 == 2 %}
				<div class="gallery__cta">
					<span class="gallery__cta-legend">{{ _x('+%d images', 'Gallery', 'supt')|format(data.images|length) }}</span>
					{# {% include 'atoms/action-tag/action-tag.twig' with {
						'modifiers': [ 'action-tag--inverted' ],
						'data': {
							'action': _x('View all', 'Gallery', 'supt'),
						}
					} %} #}
				</div>
				{% endif %}
			</a>
		</figure>
	{% endfor %}
	{% if data.caption %}
	<div class="gallery__caption">{{ data.caption }}</div>
	{% endif %}
</div>
