<div data-loadmore-container="posts"></div>
{% include 'atoms/button/button.twig' with {
	modifiers: ['button--secondary'],
	link_attrs: {'data-loadmore': 'myconfig1' },
	data: {
		url: '#',
		title: 'load more'
	}
} only %}

<script type="text/javascript">
	window.supt = window.supt || {};
	window.supt.loadmore = window.supt.loadmore || {};
	window.supt.loadmore["myconfig1"] = {{ config|json_encode }}
</script>

<style>
	[data-loadmore-container="posts"].is-loading {
		background: yellow;
	}
	[data-loadmore-container="posts"].is-loading::after {
		content: "loading…";
	}
</style>
