/**
 * Components
 */

%t-h1,
.h1 {
	@include fluid(font-size, ($fluid-min: 28px, $fluid-max: 36px));
	line-height: 1.3;

	font-size: 18px;
	font-family: $font-secondary;
	font-weight: $font-weight-regular;
}

%t-h2,
.h2 {
	line-height: 1.3;

	font-size: 18px;
	font-family: $font-primary;
	font-weight: $font-weight-black;
}

%t-h3,
.h3 {
	line-height: 1.2;

	font-size: 14px;
	font-family: $font-primary;
	font-weight: $font-weight-bold;
	letter-spacing: .88px;
	text-transform: uppercase;
}

%t-h4,
.h4 {
	line-height: 28px;

	font-size: 16px;
	font-family: $font-primary;
	font-weight: 500;

	letter-spacing: 1px;
	text-transform: uppercase;
}
