// Primary font
/* @import must be at top of file, otherwise CSS will not work */

// Cabin
@font-face {
	font-family: 'Cabin';
	font-style: normal;
	font-weight: 400;
	src: local('Cabin'),
			 url(/fonts/cabin/Cabin-Regular.ttf) format('truetype');
}

// Cabin SemiBold
@font-face {
	font-family: 'Cabin';
	font-style: normal;
	font-weight: 600;
	src: local('Cabin SemiBold'),
			 url(/fonts/cabin/Cabin-SemiBold.ttf) format('truetype');
}

// Lobster
@font-face {
	font-family: 'Lobster';
	font-style: normal;
	font-weight:4600;
	src: local('Lobster 1.4'),
			 url(/fonts/lobster/lobster.ttf) format('truetype'),
			 url(/fonts/lobster/lobster.otf) format('opentype');
}
