///
/// CSS grid layout
/// @param {Integer} $columns   [12]     - Number of columns
/// @param {Map}     $gap                - Map of desired steps for the column gap
/// @param {Map}     $offset             - Map of desired steps for the grid offset, until it reaches grid's max-width
/// @param {Size}    $max-width [1312px] - Max width of the grid
///
@mixin grid(
	$columns  : 12,
	$gap      : ($fluid-min: 8px, $tablet-breakpoint: 16px, $laptop-breakpoint: 24px, $desktop-breakpoint: 32px),
	$offset   : ($fluid-min: 16px, $tablet-breakpoint: 24px),
	$max-width: 1312px,
) {
	$offset-breakpoint: $max-width + (32 * 2);

	display: grid;
	grid-template-columns: repeat($columns, 1fr);
	@include fluid(column-gap, $gap);

	@include fluid(margin-left margin-right, map-merge($offset, ($offset-breakpoint: 24px)), $after-value: false);
	@media (min-width: $offset-breakpoint) {
		max-width: $max-width;
		margin-left: auto;
		margin-right: auto;
	}

	/* autoprefixer: ignore next */
	grid-auto-rows: auto;
	grid-template-rows: auto;
}

///
/// Faux Subgrid mixin
/// @param {Integer} $columns [12] - Number of columns
///
@mixin subgrid($columns: 12) {
	display: grid;
	grid-column-end: span $columns;
	grid-template-columns: repeat($columns, 1fr);
	grid-row-gap: inherit;
	grid-column-gap: inherit;
}
