/**
 * Set a minimalistic set of global rules.
 */
html {
	box-sizing: border-box;
	font-family: $font-primary;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-size: 16px; // 1rem == 16px
	scroll-behavior: smooth;

	@media screen and (prefers-reduced-motion: reduce) {
		scroll-behavior: auto;
	}
}

*,
*::before,
*::after {
	box-sizing: inherit;
	font-family: inherit;
	outline: none;
}

.no-scroll,
.no-scroll body {
	height: 100vh;
	overflow: hidden;
}

.nowrap {
	white-space: nowrap;
}
