/************************************/
/* STARTERPACK                      */
/************************************/
/* You can safely edit all the      */
/* variables below, following the   */
/* instructions in each group.      */
/************************************/


/**
 * FONTS
 *
 * NOTE: $font-primary is mainly used for text / $font-secondary for title
 * NOTE: always set the `$font-secondary` in combination with `font-variant-numeric: lining-nums;`
 */
$font-primary: 'Cabin', sans-serif;
$font-secondary: 'Lobster', cursive, serif;

// Font weights
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;


/**
 * COLORS
 *
 * Change the values here, just make sure to let the variable names & order untouched
 * as they can be used further in the code.
 *
 * NOTE: you can use any of these values when you set a color further
 *       ex: `$button-color: $color-brand-700`
 */

/**
 * Brand color variables.
 */
$color-brand: #2B2828;
$color-brand-alt: #F0F0F0;

/**
 * Neutral color variables.
 */
$color-neutral: #000000;
$color-neutral--800: #222;
$color-neutral--700: #505050;
$color-neutral--600: #707070;
$color-neutral--500: #858585;
$color-neutral--400: #CBCBCB;
$color-neutral--300: #DEDEDE;
$color-neutral--200: #EFEFEF;
$color-neutral--100: #FFFFFF;

/**
 * Text color variables.
 */
$color-text: #000000;
$color-text-muted: #707070;

/**
 * Border color variables.
 */

$border-color: #CACACA;

/**
 * Status color variables.
 */
$color-status--sending: #A9AAAD;
$color-status--success: #00A54B;
$color-status--error: #EC1A1A;

// NOTE FOR DEVELOPERS
// Colors are automatically injected into documentation
// as long as we keep this file structure:
//
// /**
//  * {Name of the color category} color variables.
//  */ (no empty lines)
//  ${name of the color variable}: {color value}


/**
 * TRANSITIONS
 *
 * Define standard transition timings.
 */
$transition-fast: 0.2s;
$transition-mid: 0.4s;
$transition-slow: 0.8s;

/************************************/
/* ADVANCED                         */
/************************************/
/* Continue if you feel adventurous */
/* or know what you are doing.      */
/************************************/


/**
 * FLUID SIZING BREAKPOINTS
 *
 * This defines at which size the fluid-sizing mechanism
 * should start, and end.
 */
$fluid-min: 375px;
$fluid-max: 1680px;
$fluid-huge: 2560px;
$small-breakpoint: 600px;
$tablet-breakpoint: 768px;
$medium-breakpoint: 900px;
$laptop-breakpoint: 1024px;
$big-laptop-breakpoint: 1200px;
$desktop-breakpoint: 1440px;
$big-desktop-breakpoint: 1920px;
$huge-breakpoint: 2560px;


/**
 * GRID
 */
// container
$container-initial-offset: 16px;
$container-tablet-offset: 40px;
$container-desktop-offset: 72px;
$container-max-width: 2200px;
$container-max-width-mq: $container-max-width + $container-desktop-offset * 2; // when the grid reaches its max width

// grid layout
$grid-gap: 2.13vw;
$grid-gap-max: 32px;
$grid-gap-max-mq: 1500px; // approx. when grid-gap reaches grid-gap-max


/**
 * Z-INDEXES
 */
$z-index-header: 100;
$z-index-navigation: 200;
$z-index-side-nav: 300;
$z-index-modal: 400;
