.contact {
	/**
	 * Children
	 * - stylings and positioning for simple tags and/or __child classes
	 * - positioning of other components
	 */

	&__section {
		margin-bottom: 15px;

		@media(min-width: $laptop-breakpoint) {
			display: flex;
			align-items: baseline;
		}
	}

	&__title {
		@extend %t-h1;
		margin-bottom: 5px;

		@media(min-width: $laptop-breakpoint) {
			margin-right: 80px;

			&:last-of-type {
				margin-right: 75px;
			}
		}
	}

	&__content {
		@media (min-width: $laptop-breakpoint - 1) {
			display: flex;
			flex-wrap: wrap;
			padding-right: 20px;
		}

		&-item {
			font-size: 18px;
			line-height: 36px;

			@media(max-width: $laptop-breakpoint - 1) {
				display: block;
			}

			@media(min-width: $laptop-breakpoint) {
				&:not(:last-child)::after {
					content: "–";
					margin: 0px 12px;
				}
			}
		}
	}

}
