<div class="contact {{ modifiers|join(' ') }}" {{ html_attrs|attrs }}>
	<div class="contact__section">
		<h1 class="contact__title">Contact</h1>
		<div class="contact__content">
			<span class="contact__content-item">{{ data.phone }}</span>
			<span class="contact__content-item">{{ data.email }}</span>
		</div>
	</div>
	<div class="contact__section">
		<h1 class="contact__title">Adresse</h1>
		<div class="contact__content">
			<span class="contact__content-item">{{ data.name }}</span>
			<span class="contact__content-item">{{ data.street }}</span>
			<span class="contact__content-item">{{ data.city }}</span>
		</div>
	</div>
</div>
