.schedule {
	/**
	 * Variables
	 */

	$schedule-breakpoint: 1056px;

	/**
	 * Component styling
	 * - only styles of the container, no positioning of the component
	 */

	@include grid;
	@include fluid(padding-top padding-bottom, ($fluid-min: 24px, $fluid-max: 32px));

	/**
	 * Children
	 * - stylings and positioning for simple tags and/or __child classes
	 * - positioning of other components
	 */

	&__title,
	&__section {
		@media (max-width: $laptop-breakpoint - 1) {
			margin-left: $grid-gap * 1.5;
		}
	}

	&__title {
		@extend %t-h1;
		grid-column: 1 / 13;
		margin-bottom: 20px;

		@media (min-width: $laptop-breakpoint) {
			grid-column: 2 / 4;
		}
	}

	&__section {
		@include faux-subgrid(12);
		grid-column: 1 / 13;
		margin-bottom: 10px;
		grid-row: 3;

		&:last-child {
			grid-row: 5;
		}

		@media (min-width: $laptop-breakpoint) {
			grid-column: 5 / 10;
	    grid-template-columns: repeat(5, 1fr);
	    grid-row: 2;

			&:last-child {
				grid-column: 7 / 13;
				grid-row: 2;
				grid-template-columns: repeat(5, 1fr);
				padding-left: 30px;
			}
		}


		& * {
			margin-bottom: 10px;
		}

		&-title,
		&-item-text {
			grid-column: 6 / 13;

			@media (min-width: $laptop-breakpoint) {
				grid-column: 1 / 3 span;
			}
		}

		&-title {
			@extend %t-h2;
			margin-bottom: 10px;
			font-weight: $font-weight-semibold;
			white-space: nowrap;

			@media (max-width: $laptop-breakpoint - 1) {
				margin-left: 1.8vw;
			}

			@media (min-width: $laptop-breakpoint) {
				display: flex;
				align-items: center;
				grid-column: 5 / 7;

				&:last-of-type {
					grid-column: 7 / 12;
					padding-left: 30px;
				}
			}
		}

		&-item-day {
			grid-column: 1 / 6;

			@media (min-width: $laptop-breakpoint) {
				display: none;
			}
		}
	}

	&__desktop-days {
		grid-column: 1 / 6;
		padding-top: 33px;

		.schedule__section-item-day {
			display: block;
			margin-bottom: 16px;
			font-weight: $font-weight-semibold;
		}

		@media (max-width: $laptop-breakpoint - 1) {
			display: none;
		}

		@media (min-width: $laptop-breakpoint) {
			grid-column: 3 / 5;
			padding-top: 0;
		}
	}
}
