<div class="schedule {{ modifiers|join(' ') }}" {{ html_attrs|attrs }}>
	<h1 class="schedule__title">Horaires</h1>
	<h2 class="schedule__section-title">Heures d'ouverture</h2>
	<h2 class="schedule__section-title">Heures de repas</h2>
	<div class="schedule__desktop-days">
		{% for item in data.opening_schedule %}
			<div class="schedule__section-item-day">
				<span>{{ item.day }}</span>
			</div>
		{% endfor %}
	</div>
	<div class="schedule__section">
		{% for item in data.opening_schedule %}
			<div class="schedule__section-item-day">
				<span>{{ item.day }}</span>
			</div>
			<div class="schedule__section-item-text">
				<span>{{ item.text }}</span>
			</div>
		{% endfor %}
	</div>
	<div class="schedule__section">
		{% for item in data.meal_schedule %}
			<div class="schedule__section-item-day">
				<span>{{ item.day }}</span>
			</div>
			<div class="schedule__section-item-text">
				<span>{{ item.text }}</span>
			</div>
		{% endfor %}
	</div>
</div>
