.section-card-news {
	/**
	 * Component styling
	 * - only styles of the container, no positioning of the component
	 */

	position: relative;
	overflow-x: hidden;

	/**
	 * Children
	 * - stylings and positioning for simple tags and/or __child classes
	 * - positioning of other components
	 */

	&__inner {
		@include grid;
	}

	&__title {
		grid-column: 2 / 13;

		&::after {
			content: "";
			background: $color-brand-alt;
			height: 100%;
			width: 100%;
			display: block;
			position: absolute;
			top: 0;
			z-index: -1;
		}

		h1 {
			@extend %t-h1;
			@include fluid(margin-top, ($fluid-min: 32px, $fluid-max: 64px));
			@include fluid(padding-left, ($fluid-min: 13px, $fluid-max: 64px));
			margin-bottom: 32px;
		}
	}

	&__list {
		@include faux-subgrid(12);
		grid-column: 1 / 13;

		.card-news {
			@include fluid(margin-bottom, ($fluid-min: 24px, $fluid-max: 32px));
			grid-column: 1 / 13;

			@media (min-width: $tablet-breakpoint) and (max-width: $laptop-breakpoint - 1) {
				&:nth-child(1n) {
					grid-column: 1 / 7;
				}

				&:nth-child(2n) {
					grid-column: 7 / 13;
				}
			}

			@media (min-width: $laptop-breakpoint) {
				&:nth-child(3n + 1) {
					grid-column: 1 / 5;
				}

				&:nth-child(3n + 2) {
					grid-column: 5 / 9;
				}

				&:nth-child(3n + 3) {
					grid-column: 9 / 13;
				}
			}
		}
	}
}


