<div class="section-card-news {{ modifiers|join(' ') }}" {{ html_attrs|attrs }}>
	<div class="section-card-news__inner">
		<div class="section-card-news__title"><h1>News</h1></div>
		<div class="section-card-news__list">
			{% for item in data.list %}
				{# {% include 'molecules/card-news/card-news.twig' with item %} #}
				<a class="card-news {{ modifiers|join(' ') }}" {{ html_attrs|attrs }} href="{{ item.link }}">
					<h2 class="card-news__title">{{ item.title }}</h2>
					<p class="card-news__description">{{ item.description }}</p>
				</a>

			{% endfor %}
		</div>
	</div>
</div>
