{% if fn("function_exists", "yoast_breadcrumb") %}
<nav class="breadcrumbs {{ modifiers|join(' ') }}" data-breadcrumbs>
	{{ fn("yoast_breadcrumb", '<div class="breadcrumbs__inner">','</div>') }}
</nav>
{% endif %}
