<!doctype html>
<html class="no-js" {{ site.language_attributes }}>
<head>
	<meta charset="{{ site.charset }}" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="author" href="{{ site.theme.link }}/humans.txt" />
	<link rel="pingback" href="{{ site.pingback_url }}" />
	<link rel="profile" href="http://gmpg.org/xfn/11">

	<script type="text/javascript">
		var html = document.getElementsByTagName('html')[0];
		html.className = html.className.replace(/(?:^|\s)no-js(?!\S)/g, 'js');
	</script>

	<link rel="apple-touch-icon" sizes="57x57" href="{{ theme_uri }}/static/img/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ theme_uri }}/static/img/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ theme_uri }}/static/img/favicons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ theme_uri }}/static/img/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ theme_uri }}/static/img/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ theme_uri }}/static/img/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ theme_uri }}/static/img/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ theme_uri }}/static/img/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ theme_uri }}/static/img/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="{{ theme_uri }}/static/img/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="144x144" href="{{ theme_uri }}/static/img/favicons/android-icon-144x144.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ theme_uri }}/static/img/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ theme_uri }}/static/img/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ theme_uri }}/static/img/favicons/favicon-16x16.png">
	<link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
	{# <link rel="manifest" href="{{ theme_uri }}/static/img/favicons/manifest.json"> #} {# TODO fix that #}
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{{ theme_uri }}/static/img/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#17A345"> {# TODO: update #}
	{{function('wp_head')}}
</head>
