<form role="search" method="get" id="searchform" class="searchform" >
	<div>
		<label class="screen-reader-text" for="s">Rechercher</label>
		<input type="text" value="{{query_string}}" name="s" id="s" placeholder="Entrer ici votre recherche">
		<input type="reset" value="X"> {# TODO: handle real reset behavior with JS #}
		<input type="submit" id="searchsubmit" value="Rechercher">
	</div>
</form>
