.wp-block[data-type="core/button"] {

	.wp-block-button {
		&__link {
			background-color: transparent;
			min-width: 120px;

			&.is-selected::before {
				content: none;
				display: none;
			}
		}

		.block-editor-plain-text {
			text-align: center;
			&:focus {
				box-shadow: none;
				outline: none;
			}

		}

		[data-rich-text-placeholder]:after {
			color: inherit;
			opacity: .7;
		}
	}

	.wp-block-button__inline-link {
		min-width: 250px;
	}
}
