.wp-block-embed {
	// @include fluid-props(margin-top, 50px, 40px);
	// @include fluid-props(margin-bottom, 50px, 90px);

	// Handle a specified aspect ratio
	&.wp-has-aspect-ratio {
		position: relative;

		.wp-block-embed__wrapper {
			position: relative;
			height: 0;

			> * {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		/**
		 * Ratios from https://github.com/WordPress/gutenberg/blob/master/packages/block-library/src/embed/constants.js
		 */
		// Common video resolutions.
		&.wp-embed-aspect-21-9 .wp-block-embed__wrapper { padding-top: 9 / 21 * 100%; }
		&.wp-embed-aspect-18-9 .wp-block-embed__wrapper { padding-top: 9 / 18 * 100%; }
		&.wp-embed-aspect-16-9 .wp-block-embed__wrapper { padding-top: 9 / 16 * 100%; }
		&.wp-embed-aspect-4-3 .wp-block-embed__wrapper { padding-top: 3 / 4 * 100%; }
		// Vertical video and instagram square video support.
		&.wp-embed-aspect-1-1 .wp-block-embed__wrapper { padding-top: 1 / 1 * 100%; }
		&.wp-embed-aspect-9-16 .wp-block-embed__wrapper { padding-top: 16 / 9 * 100%; }
		&.wp-embed-aspect-1-2 .wp-block-embed__wrapper { padding-top: 2 / 1 * 100%; }
	}

	> .wp-block-embed-spotify,
	> .wp-block-embed-youtube,
	> .wp-block-embed-soundcloud {
		> .wp-block-embed__wrapper {
			width: 100%;

			iframe {
				width: 100%;
			}
		}
	}

	&.wp-embed-aspect-16-9 {
		.wp-block-embed__wrapper {
			position: relative;
			padding-top: 9/16 * 100%;
		}

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}

.wp-block-embed-facebook {
	.fb_iframe_widget {
		display: flex;
		justify-content: center;
	}
}
