<figure class="wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio">
	<div class="wp-block-embed__wrapper">
		<iframe title="Best Of the 53rd Montreux Jazz Festival | Montreux Jazz Festival 2019" width="500" height="281" src="https://www.youtube.com/embed/pgH7OpCCE8s?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</figure>
