<figure class="wp-block-embed-twitter wp-block-embed is-type-rich is-provider-twitter">
	<div class="wp-block-embed__wrapper">
		<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Designer of the Year 2019 nominees are in! 👏👏👏<br>Who will win Designer of the Year 2019? See the nominees here,<a href="https://t.co/I9xL8arc01">https://t.co/I9xL8arc01</a><a href="https://twitter.com/hashtag/cssdaDOTY2019?src=hash&amp;ref_src=twsrc%5Etfw">#cssdaDOTY2019</a> <a href="https://twitter.com/hashtag/webdesign?src=hash&amp;ref_src=twsrc%5Etfw">#webdesign</a> <a href="https://twitter.com/hashtag/webdev?src=hash&amp;ref_src=twsrc%5Etfw">#webdev</a> <a href="https://twitter.com/hashtag/designeroftheyear?src=hash&amp;ref_src=twsrc%5Etfw">#designeroftheyear</a> <a href="https://t.co/bsIP5YrNq1">pic.twitter.com/bsIP5YrNq1</a></p>&mdash; CSS Design Awards (@cssdesignawards) <a href="https://twitter.com/cssdesignawards/status/1233331755320406016?ref_src=twsrc%5Etfw">February 28, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
</figure>
