<figure class="wp-block-embed-facebook wp-block-embed is-type-rich is-provider-facebook">
	<div class="wp-block-embed__wrapper">
		<div id="fb-root"></div>
		<script async="1" defer="1" crossorigin="anonymous"
			src="https://connect.facebook.net/de_DE/sdk.js#xfbml=1&amp;version=v4.0"></script>
		<div class="fb-post" data-href="https://www.facebook.com/Superhuit/posts/2280339845383956"
			data-width="500">
			<blockquote cite="https://www.facebook.com/Superhuit/posts/2280339845383956"
				class="fb-xfbml-parse-ignore">
				<p>C'est noir et c'est brut. C'est notre concept de #digital #rebranding pour la marque
					d'horlogerie Urwerk. A découvrir sur notre Behance. http://bit.ly/Urwerk-s8</p>Gepostet
				von <a href="https://www.facebook.com/Superhuit/">superhuit</a> am&nbsp;<a
					href="https://www.facebook.com/Superhuit/posts/2280339845383956">Freitag, 7. Juni 2019</a>
			</blockquote>
		</div>
	</div>
</figure>
