.footer {
	/**
	 * Component styling
	 * - only styles of the container, no positioning of the component
	 */

	background-color: $color-brand;
	color: $color-neutral--100;
	padding: 32px 0px;

	@media(min-width: $laptop-breakpoint) {
		display: flex;
		justify-content: space-between;
		padding: 42px 80px;
	}

	/**
	 * Children
	 * - stylings and positioning for simple tags and/or __child classes
	 * - positioning of other components
	 */

	&__section {
		line-height: 28px;

		&:first-of-type {
			@media (max-width: $laptop-breakpoint - 1) {
				margin-bottom: 24px;
			}
			@media (min-width: $laptop-breakpoint) {
				margin-right: 50px;
			}
		}
	}

	span {
		white-space: nowrap;

		@media(max-width: $laptop-breakpoint - 1) {
			display: block;
			text-align: center;
		}

		@media(min-width: $laptop-breakpoint) {
			&:not(:last-child)::after {
				content: "–";
				margin: 0px 10px;
			}
		}

		a {
			color: $color-neutral--100;
		}
	}
}
