<div class="footer {{ modifiers|join(' ') }}" {{ html_attrs|attrs }}>
	<div class="footer__section">
		{% for item in data.left %}
			<span>{{ item }}</span>
		{% endfor %}
	</div>
	<div class="footer__section">
		{% for item in data.right %}
			<span>{{ item }}</span>
		{% endfor %}
	</div>
</div>
