<video muted loop playsinline data-responsive-video style="margin: 50px; border: 1px solid; width: 600px;">
	<source media="screen and (min-width: 1280px)" data-src="https://www.sample-videos.com/video123/mp4/720/big_buck_bunny_720p_5mb.mp4" type="video/mp4" />
	<source media="screen and (min-width: 720px) and (max-width: 1279px)" data-src="https://www.sample-videos.com/video123/mp4/480/big_buck_bunny_480p_5mb.mp4" type="video/mp4" />
	<source media="screen and (max-width: 719px)" data-src="https://www.sample-videos.com/video123/mp4/240/big_buck_bunny_240p_2mb.mp4" type="video/mp4" />
</video>
