.card-news {
	/**
	 * Component styling
	 * - only styles of the container, no positioning of the component
	 */

	@include fluid(max-height, ($fluid-min: 178px, $fluid-max: 216px));
	display: block;
	padding: 16px 8px 16px 23px;
	border-left: solid 1px $border-color;
	border-bottom: solid 1px $border-color;
	background-color: $color-neutral--100;

	/**
	 * Children
	 * - stylings and positioning for simple tags and/or __child classes
	 * - positioning of other components
	 */

	&__title {
		@extend %t-h2;
		@include line-clamp(1);
		margin-bottom: 10px;
	}

	&__description {
		@include fluid(line-height, ($fluid-min: 22px, $fluid-max: 28px));
		@include line-clamp(5);
		font-size: 14px;
	}
}
