<a class="card-news {{ modifiers|join(' ') }}" {{ html_attrs|attrs }} href="{{ data.link }}">
	<h2 class="card-news__title">{{ data.title }}</h2>
	<p class="card-news__description">{{ data.description }}</p>
</a>
