/**
 * Variables
 */
$list-top-spacing: 12px;
$list-top-spacing-big: 16px; // only used on a list child of another

$list-bullet-size: 6px;
$list-bullet-size-mobile: 4px;
/**
 * Styles
 */
%t-list-base {
	/**
	 * Root
	 */
	list-style-type: none;
	line-height: 24px;
	@extend %t-p;

	/**
	 * Children
	 */

	ul,
	ol {
		list-style: none;
		@include fluid(margin-top margin-bottom, ($fluid-min: $list-top-spacing, $fluid-max: $list-top-spacing-big));

	}

	li {
		position: relative;
		margin-top: $list-top-spacing;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			display: inline-block;
			text-align: left;
			border-radius: 50%;
		}

		&:first-child {
			margin-top: 0px;
		}
	}

	// Child Unordered List
	// regular bullet
	ul > li { // .list ul > li
		@media (max-width: $tablet-breakpoint - 1) {
			padding-left: $list-bullet-size-mobile + 8px;
		}
		@media (min-width: $tablet-breakpoint) {
			padding-left: $list-bullet-size + 16px;
		}

		&::before {
			top: .6em;
			@media (max-width: $tablet-breakpoint - 1) {
				width: $list-bullet-size-mobile;
				height: $list-bullet-size-mobile;
			}
			@media (min-width: $tablet-breakpoint) {
				width: $list-bullet-size;
				height: $list-bullet-size;
			}

			background-color: $color-neutral--600;
		}
	}

	// Child Ordered List
	// letter bullet
	ol { // .list ol
		counter-reset: li;

		> li { // .list ol > li
			// padding-left: 1.33em;

			&::before {
				position: relative;
				counter-increment: li;
				content: counters(li, ".") " -";
				color: $color-neutral--600;
				margin-right: 5px;
			}

			> ol > li {
				padding-left: 1.5em;
			}
		}
	}
}

// // 1-level Ordered List
// // number bullet
%t-list-ol {
	counter-reset: li;

	> li { // ol.list > li
		padding-left: 1.5em;

		&:nth-child(n+10) {
			padding-left: 2.1em;

			> ol {
				position: relative;
				left: -10px;
			}
		}

		&::before {
			content: counters(li, ".") " -";
			counter-increment: li;
			display: inline-block;
			color: $color-neutral--600;
		}
	}
}

// 1-level Unordered List
// pick bullet
%t-list-ul {
	> li { // ul.list > li
		@media (max-width: $tablet-breakpoint - 1) {
			padding-left: $list-bullet-size-mobile + 8px;
		}
		@media (min-width: $tablet-breakpoint) {
			padding-left: $list-bullet-size + 16px;
		}

		&::before {
			top: .6em;
			background-color: $color-neutral--600;

			@media (max-width: $tablet-breakpoint - 1) {
				width: $list-bullet-size-mobile;
				height: $list-bullet-size-mobile;
			}
			@media (min-width: $tablet-breakpoint) {
				width: $list-bullet-size;
				height: $list-bullet-size;
			}
		}
	}
}

.list {
	@extend %t-list-base;
}

ol.list {
	@extend %t-list-ol;

	li > ol li::before {
		content: counter(li, lower-alpha);
	}
}

ul.list {
	@extend %t-list-ul;
}
