<ul class="list {{ modifiers|join(' ') }}" {{ attributes|attrs }}>
	<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
	<li>Aliquam tincidunt mauris eu risus.</li>
	<li>Vestibulum auctor dapibus neque.
		<ul>
			<li>Vivamus hendrerit arcu.</li>
			<li>Praesent <a href="#">id metus</a> massa.</li>
			<li>Class aptent taciti sociosqu.</li>
		</ul>
	</li>
	<li>Quisque eget <strong>odio ac lectus vestibulum</strong> faucibus.
		<ol>
			<li>Vivamus hendrerit arcu.</li>
			<li>Praesent id metus massa.</li>
			<li>Class aptent taciti sociosqu.</li>
		</ol>
	</li>
</ul>

<hr>

<ol class="list {{ modifiers|join(' ') }}" {{ attributes|attrs }}>
	<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
	<li>Aliquam <a href="#">tincidunt mauris</a> eu risus.</li>
	<li>Vestibulum auctor dapibus neque.
		<ul>
			<li>Vivamus hendrerit arcu.</li>
			<li>Praesent id metus massa.</li>
			<li>Class aptent taciti sociosqu.</li>
		</ul>
	</li>
	<li>Quisque eget <b>odio ac lectus vestibulum</b> faucibus.
		<ol>
			<li>Vivamus hendrerit arcu.</li>
			<li>Praesent id metus massa.</li>
			<li>Class aptent taciti sociosqu.</li>
		</ol>
	</li>
	<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
	<li>Aliquam <a href="#">tincidunt mauris</a> eu risus.</li>
	<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
	<li>Aliquam <a href="#">tincidunt mauris</a> eu risus.</li>
	<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
	<li>Aliquam <a href="#">tincidunt mauris</a> eu risus.</li>
	<li>Quisque eget <b>odio ac lectus vestibulum</b> faucibus.
		<ol>
			<li>Vivamus hendrerit arcu.</li>
			<li>Praesent id metus massa.</li>
			<li>Class aptent taciti sociosqu.</li>
			<li>Vivamus hendrerit arcu.</li>
			<li>Praesent id metus massa.
				<ol>
					<li>Vivamus hendrerit arcu.</li>
					<li>Praesent id metus massa.</li>
					<li>Class aptent taciti sociosqu.</li>
				</ol>
			</li>
			<li>Class aptent taciti sociosqu.</li>
			<li>Vivamus hendrerit arcu.</li>
			<li>Praesent id metus massa.</li>
			<li>Class aptent taciti sociosqu.</li>
			<li>Vivamus hendrerit arcu.</li>
			<li>Praesent id metus massa.</li>
			<li>Class aptent taciti sociosqu.</li>
			<li>Vivamus hendrerit arcu.</li>
			<li>Praesent id metus massa.</li>
			<li>Class aptent taciti sociosqu.</li>
		</ol>
	</li>
	<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
	<li>Aliquam <a href="#">tincidunt mauris</a> eu risus.</li>
	<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
	<li>Aliquam <a href="#">tincidunt mauris</a> eu risus.</li>
	<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
	<li>Aliquam <a href="#">tincidunt mauris</a> eu risus.</li>
	<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
	<li>Aliquam <a href="#">tincidunt mauris</a> eu risus.</li>
	<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
	<li>Aliquam <a href="#">tincidunt mauris</a> eu risus.</li>
</ol>
