.menu-section {
	/**
	 * Component styling
	 * - only styles of the container, no positioning of the component
	 */

	position: relative;
	overflow: hidden;

	/**
	 * Children
	 * - stylings and positioning for simple tags and/or __child classes
	 * - positioning of other components
	 */

	&__header,
	&__item {
		padding: 8px 0px;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;

		h2,
		svg {
			transition: transform $transition-fast ease-in;
		}

		h2 {
			@extend %t-h2;
			font-weight: $font-weight-semibold;
		}

		svg {
			margin-bottom: 2px;
			height: 18px;
			width: 18px;

			g rect {
				transform-origin: center;
				transition: transform $transition-fast ease-in-out;
			}
		}

		&:after,
		&:before {
			content: "";
			position: absolute;
			height: 1px;
			bottom: 0;
			width: 0;
			background: $color-brand;
			transition: width $transition-fast ease-in;
		}

		&:before {
			left: 0;
		}

		&:after {
			right: 0;
		}

		&:hover {
			h2 {
				transform: translateX(8px);
			}

			svg {
				transform: translateX(-8px);
			}

			&::after,
			&::before {
				width: 100%;
			}
		}
	}

	&__list {
		max-height: 0px;
		list-style-type: none;
		border-bottom: 1px solid $border-color;
		transition: max-height $transition-fast ease-in-out;

		.menu-section__item:last-of-type:not(:last-child) {
			@include fluid(padding-bottom, ($fluid-min: 18px, $fluid-max: 24px));
		}
	}

	&__item {
		display: flex;
		font-weight: 600;
		font-size: 14px;
		justify-content: space-between;
		align-items: baseline;

		&-text {
			display: flex;
			flex-wrap: wrap;
			margin-top: 5px;

			@media (min-width: $laptop-breakpoint) {
				flex-wrap: nowrap;
				align-items: baseline;
			}

			> span {
				width: 100%;
				font-weight: 300;
				line-height: 22px;

				@media (min-width: $laptop-breakpoint) {
					width: unset;
					margin-left: 32px;
				}
			}
		}
	}

	&__informations {
		@include fluid(padding-top padding-bottom, ($fluid-min: 16px, $fluid-max: 20px));
		@include fluid(padding-right padding-left, ($fluid-min: 12px, $fluid-max: 16px));
		background-color: $color-neutral--100;
		border-bottom: 1px solid $border-color;


		&-item {
			@media (min-width: $laptop-breakpoint) {
				display: flex;
				align-items: baseline;
			}

			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}

		&-title {
			@extend %t-h2;
			display: block;
			font-size: 14px;
			font-weight: 600;
			margin-bottom: 5px;

			@media (min-width: $laptop-breakpoint) {
				margin-right: 32px;
			}
		}

		&-list {
			font-size: 14px;
			line-height: 22px;
			list-style-type: none;

			@media (min-width: $laptop-breakpoint) {
				display: flex;

				li:not(:last-child)::after {
					content: "–";
					margin: 0px 10px;
				}
			}
		}
	}
}

/**
 * States
 */

.is-open {
	.menu-section__icon {
		transform: rotate(90deg);
	}
}

/**
 * Modifiers
 */

.menu-section--weekmenu {
	/**
	 * Component overrides
	 */

	background-color: $color-brand;

	/**
	 * Children overrides
	 */
	.menu-section__header {
		color: $color-neutral--100;
		cursor: auto;

		svg,
		&::before,
		&::after {
			display: none;
		}

		&:hover {
			h2 {
				transform: unset;
			}
		}

		h2 {
			@include fluid(font-size, ($fluid-min: 18px, $fluid-max: 22px));

			&:last-child {
				@include fluid(font-size, ($fluid-min: 14px, $fluid-max: 18px));
			}
		}
	}

	.menu-section__list {
		@extend %t-list-ol;
		border-bottom: none;
		max-height: unset;

		li {
			padding-left: 0;
			padding-bottom: 0;
			align-items: baseline;
			color: $color-neutral--100;

			&:last-child {
				padding-bottom: 8px;
			}

			&::before {
				content: counters(li, ".")".";
				margin-right: 5px;
				color: $color-neutral--100;
			}
		}
	}

	.menu-section__item-price {
		margin-left: auto;
	}

	.menu-section__item-text {
		line-height: 22px;
		padding-right: 20px;

		> span {
			display: block;
		}
	}
}
