<div class="menu-section {{ modifiers|join(' ') }}" {{ html_attrs|attrs }} data-menu-section>
	<div class="menu-section__header">
		<h2>{{ data.title }}</h2>
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
		  <g fill="none" fill-rule="evenodd">
		    <rect width="16" height="1" y="7.5" fill="#000"/>
		    <rect class="menu-section__icon" width="1" height="16" x="7.5" fill="#000"/>
		  </g>
		</svg>
		{% if data.isHoliday %}
			<h2>Fermé - {{ data.holiday }}</h2>
		{% endif %}
	</div>
	{% if data.isHoliday == false %}
		<ul class="menu-section__list">
			{% for item in data.list %}
				<li class="menu-section__item">
					<span class="menu-section__item-text">{{ item.name }}<span>{% if item.description is iterable %}{% else %}{{ item.description }}{% endif %}</span></span>
					<span class="menu-section__item-price">{{ item.price }}</span>
				</li>
			{% endfor %}
			{% if data.informations %}
				<div class="menu-section__informations">
					{% for item in data.informations %}
						<div class="menu-section__informations-item">
							<span class="menu-section__informations-title">{{ item.title }}</span>
							<ul class="menu-section__informations-list">
								{% for subitem in item.list %}
									<li>{{ subitem }}</li>
								{% endfor %}
							</ul>
						</div>
					{% endfor %}
				</div>
			{% endif %}
		</ul>
	{% endif %}
</div>
