.figure {
	/**
	 * Variables
	 */

	$figure-breakpoint: 1056px;

	/**
	 * Component styling
	 * - only styles of the container, no positioning of the component
	 */


	/**
	 * Children
	 * - stylings and positioning for simple tags and/or __child classes
	 * - positioning of other components
	 */
	img {
		@include image-aspect-ratio(1, 1);
	}

	p {
		@include fluid(font-size, ($fluid-min: 12px, $fluid-max: 14px));
		color: $color-neutral--600;

		@media(min-width: $laptop-breakpoint) {
			margin-top: 8px;
		}
	}

}


