/**
 * Formats
 */

%banner-format {
	display: grid;

	left: 0;
	width: 100%;

	@include fluid(padding-top, ($fluid-min: 24px, $tablet-breakpoint: 28px));
	@include fluid(padding-bottom, ($fluid-min: 24px, $tablet-breakpoint: 32px));
	@include fluid(padding-left padding-right, ($fluid-min: 24px, $tablet-breakpoint: 32px));

	// Grid layout
	@media (max-width: 767px) {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, auto);
	}
	@media (min-width: 768px) {
		grid-template-columns: auto min-content min-content;
		grid-template-rows: repeat(2, auto);
	}


	// Positionning elements
	.cookie-law-banner__title {
		grid-row: 1;
		grid-column: 1;
		// background-color: lightgreen; // debug

		@media (max-width: 767px) {
			grid-column-end: span 2;
		}
	}

	.cookie-law-banner__message {
		grid-row: 2;
		grid-column: 1;
		// background-color: lightgrey; // debug

		@media (max-width: 767px) {
			grid-column-end: span 2;
		}
	}

	.cookie-law-banner__personalize-cell {
		// background-color: lightblue; // debug

		@media (max-width: 767px) {
			grid-row: 3;
			grid-column: 1;
		}
		@media (min-width: 768px) and (max-width: 1279px) {
			grid-row: 2;
			grid-column: 2;
		}
		@media (min-width: 1280px) {
			grid-row: 1 / span 2;
			grid-column: 2;
		}
	}

	.cookie-law-banner__accept-cell {
		// background-color: lightpink; // debug

		@media (max-width: 767px) {
			grid-row: 3;
			grid-column: 2;
		}
		@media (min-width: 768px) and (max-width: 1279px) {
			grid-row: 2 ;
			grid-column: 3;
		}
		@media (min-width: 1280px) {
			grid-row: 1 / span 2;
			grid-column: 3;
		}
	}

	// Styling elements
	.cookie-law-banner__title {
		margin-bottom: 10px;
	}

	.cookie-law-banner__message {
		margin-bottom: 0;

		@media (max-width: 767px) {
			margin-bottom: 28px;
		}
	}
	.cookie-law-banner__personalize-cell {
		display: flex;
		flex-direction: column;

		@media (max-width: 767px) {
			align-items: flex-start;
			justify-content: center;
		}
		@media (min-width: 768px) {
			justify-content: flex-end;
		}
	}
	.cookie-law-banner__personalize {
		margin-top: 12px;
		margin-bottom: 11px;

		@media (min-width: 768px) {
			margin-left: 32px;
			margin-right: 32px;
		}
	}
	.cookie-law-banner__accept-cell {
		display: flex;
		justify-content: flex-end;

		@media (max-width: 767px) {
			align-items: center;
		}

		@media (min-width: 768px) {
			align-items: flex-end;
		}
	}
}

%widget-format {
	width: 350px;
	padding: 20px;
	max-width: calc(100vw - 32px);

	.cookie-law-banner__title {
		margin-bottom: 16px;
	}

	.cookie-law-banner__accept {
		margin: 20px 0 0;
		width: 100%;
	}
}

.cookie-law-banner {
	$self: cookie-law-banner;

	position: fixed;
	z-index: 99999;

	color: #000000;
	background-color: #EFEFEF;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19);

	&__title {
		@extend %cookie-law--heading;
	}

	&__message {
		@extend %cookie-law--p-small;
	}

	&__personalize {
		@extend %cookie-law--reset-button;
		@extend %cookie-law--link;

		font-size: 16px;
		line-height: 1.25;
		font-weight: bold;
		letter-spacing: 0;
	}

	&__accept {
		@extend %cookie-law--button;

		border: none !important;

		&::before {
			border-width: 2px !important;
		}
	}



	/**
	 * Positions modifiers
	 */
	&--center {
		@extend %widget-format;

		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&--bottom-right {
		@extend %widget-format;

		right : 16px;
		bottom: 16px;
	}

	&--bottom-left {
		@extend %widget-format;

		left: 16px;
		bottom: 16px;
	}

	&--top-left {
		@extend %widget-format;

		left: 16px;
		top: 16px;
	}

	&--top-right {
		@extend %widget-format;

		right: 16px;
		top: 16px;
	}

	&--full-bottom {
		@extend %banner-format;

		bottom: 0;
	}

	/**
	 * STATES
	 */
	&[aria-hidden="true"] {
		display: none;
	}
}

