%cookie-law--reset-button {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	outline: 0;
	appearance: none;
	padding: 0;
	cursor: pointer;

	&::-moz-focus-inner {
		border: 0;
	}
}

%cookie-law--heading {
	font-size: 13px;
	letter-spacing: 1.6px;
	text-transform: uppercase;
	font-weight: $font-weight-bold;
	margin: 0;
}

%cookie-law--p-small {
  font-size: 16px;
  letter-spacing: 0;
	line-height: 24px;
	margin-bottom: 20px;
}

%cookie-law--link {
	color: inherit;
	text-decoration: none;

	border-bottom: 1px solid currentColor;

	background-image: linear-gradient(currentColor, currentColor);
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: 100% 0%;
	transition: background-size 0.2s ease-out;

	&:focus,
	&:hover {
		background-size: 100% 1px;
	}

}

%cookie-law--button {
	@extend %button;
	@extend %button-secondary;

	background-color: $color-neutral--100;
}

.cookie-law {
	font-family: $font-primary;
	color: $color-neutral;

	&,
	* {
		box-sizing: border-box;
	}
}


@import './modal';
@import './banner';
@import './category';
