<div class="cookie-law">
	<div class="cookie-law-banner cookie-law-banner--full-bottom" role="dialog" aria-live="polite"
		aria-hidden="false" aria-label="cookie-law-banner:title"
		aria-describedby="cookie-law-banner:desc">
		<h5 id="cookie-law-banner:title" class="cookie-law-banner__title">Cookies</h5>
		<div id="cookie-law-banner:desc" class="cookie-law-banner__message">This site uses cookies to
			help improve your user experience and gives you control over what you want to activate.</div>
		<div class="cookie-law-banner__personalize-cell">
			<button class="cookie-law-banner__personalize">Personalize</button>
		</div>
		<div class="cookie-law-banner__accept-cell">
			<button class="cookie-law-banner__accept">Ok, accept all</button>
		</div>
	</div>
	<section class="cookie-law-modal" role="dialog" aria-hidden="{{ modalHidden }}" tabindex="-1">
		<div class="cookie-law-modal__dialog" role="document" aria-labelledby="exampleModalCenterTitle">
			<div class="cookie-law-modal__content">
				<button class="cookie-law-modal__close">
					<svg viewBox="0 0 24 24">
						<title>Close</title>
						<path
							d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z">
						</path>
						<path d="M0 0h24v24H0z" fill="none"></path>
					</svg>
				</button>
				<div class="cookie-law-modal__body">
					<header class="cookie-law-modal__head">
						<h4 class="cookie-law-modal__title">Privacy Overview</h4>
						<p class="cookie-law-modal__desc">This website uses cookies to improve your experience
							while you navigate through the website. Out of these cookies, the cookies that are
							categorized as necessary are stored on your browser as they are essential for the
							working of basic functionalities of the website. We also use third-party cookies that
							help us analyze and understand how you use this website. These cookies will be stored
							in your browser only with your consent. You also have the option to opt-out of these
							cookies. But opting out of some of these cookies may have an effect on your browsing
							experience.</p>
					</header>
					<ul class="cookie-law-modal__categories">
						<li class="cookie-law-category">
							<div class="cookie-law-category__tab">
								<button class="cookie-law-category__title">
									<span>Necessary</span>
								</button>
								<span class="cookie-law-category__caption">Always enabled</span>
							</div>
							<div class="cookie-law-category__content" aria-hidden="true">
								<div class="cookie-law-category__desc">Necessary cookies are absolutely essential
									for the website to function properly. This category only includes cookies that
									ensures basic functionalities and security features of the website. These cookies
									do not store any personal information.</div>
							</div>
						</li>
						<li class="cookie-law-category is-expanded">
							<div class="cookie-law-category__tab">
								<button class="cookie-law-category__title">
									<span>Non Necessary</span>
								</button>
								<div class="cookie-law-category__switch">
									<input type="checkbox" class="cookie-law-category__checkbox"
										id="cookie-law-category-checkbox-non-necessary" checked>
									<label class="cookie-law-category__label"
										for="cookie-law-category-checkbox-non-necessary">
										Enable cookies
									</label>
									<span class="cookie-law-category__status">
										Disabled
									</span>
								</div>
							</div>
							<div class="cookie-law-category__content" aria-hidden="false">
								<div class="cookie-law-category__desc">Any cookies that may not be particularly
									necessary for the website to function is used specifically to collect user
									personal data via analytics, ads, other embedded contents are termed as
									non-necessary cookies. It is mandatory to procure user consent prior to running
									these cookies on your website.</div>
							</div>
						</li>
						<li class="cookie-law-category">
							<div class="cookie-law-category__tab">
								<button class="cookie-law-category__title">
									<span>Marketing</span>
								</button>
								<div class="cookie-law-category__switch">
									<input type="checkbox" class="cookie-law-category__checkbox"
										id="cookie-law-category-checkbox-marketing">
									<label class="cookie-law-category__label"
										for="cookie-law-category-checkbox-marketing">
										Enable Marketing cookies
									</label>
									<span class="cookie-law-category__status">
										Disabled
									</span>
								</div>
							</div>
							<div class="cookie-law-category__content" aria-hidden="true">
								<div class="cookie-law-category__desc">Used to deliver advertising that is more
									relevant to you and your interests. They are also used to limit the number of
									times you see an advertisement as well as help measure the effectiveness of the
									advertising campaign. They are usually placed by advertising networks with the
									website operator’s permission.</div>
							</div>
						</li>
					</ul>
					<footer class="cookie-law-modal__footer">
						<button class="cookie-law-modal__save">Save &amp; Accept</button>
					</footer>
				</div>
			</div>
		</div>
	</section>
</div>
