/**
 * NOTE
 * ====
 *
 * This component is not following the BEM methodology
 * because we use the WP Button block which has
 * some specific classnames.
 */
$button-icon: 16px;

// default style -> button--primary
%button {
	display: inline-flex;
	align-items: center;
	white-space: nowrap;
	position: relative;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: text;
	z-index: 1;

	@include fluid(font-size, ($fluid-min: 12px, $tablet-breakpoint: 14px));
	@include fluid(height, ($fluid-min: 32px, $tablet-breakpoint: 40px));
	@include fluid(padding-left padding-right, ($fluid-min: 16px, $tablet-breakpoint: 24px));
	@include fluid(padding-top, ($fluid-min: 9px, $tablet-breakpoint: 12px));
	@include fluid(padding-bottom, ($fluid-min: 7px, $tablet-breakpoint: 12px));

	font-family: $font-primary;
	font-weight: $font-weight-bold;
	letter-spacing: 1px;
	text-transform: uppercase;

	border: 1px solid transparent;
	transition: color $transition-fast ease-out, background-color $transition-fast ease-out, border-color $transition-fast ease-out;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		background-color: transparent;
		border: 1px solid transparent;
		opacity: 0;
		pointer-events: none;
		transition: opacity $transition-fast ease-out;
	}

	a {
		color: inherit;
	}

	// Icons
	// External link & Load more
	svg {
		fill: currentColor;
		width: $button-icon;
		height: $button-icon;

		// Visual adjustment
		margin-left: 3px;
		margin-right: -4px;
	}

	// &:hover {}
	// &:active {}
	// &:visited {}
}

%button-primary-color {
	color: $color-neutral--100;
	background-color: $color-brand;

	&::before {
		border-color: currentColor;
		margin: 1px;
	}

	/** STATE **/
	&:hover,
	&:focus {
		&:not(:active) {
			background-color: $color-brand-alt;
		}
	}

	&:not(:active):focus::before {
		opacity: 1;
	}

	&[disabled] {
		pointer-events: none;
		background-color: $color-neutral--400;
	}
}

// When used over a brand-alt background-color
%button-primary-color-alt {
	@at-root .theme-cha &:hover:not(:active)::before {
		opacity: 1;
	}
	@at-root .theme-fam &:hover:not(:active)::before {
		opacity: 1;
	}
	@at-root .theme-qua &:hover:not(:active)::before {
		opacity: 1;
	}
}


%button-primary-white {
	color: $color-brand;
	background-color: $color-neutral--100;

	&::before {
		border-color: $color-neutral--100;
		margin: 1px;
	}

	/** STATE **/
	&:hover,
	&:focus {
		&:not(:active) {
			color: $color-neutral--100;
			background-color: $color-brand-alt;
		}
	}

	&:not(:active):focus::before {
		opacity: 1;
	}

	&[disabled] {
		pointer-events: none;
		color: $color-neutral--400;
	}
}

%button-secondary {
	color: $color-neutral;
	border: 1px solid $color-neutral;

	&::before {
		border-color: $color-neutral;
	}

	/** STATE **/
	&:hover,
	&:focus {
		&:not(:active)::before {
			opacity: 1;
		}
	}

	&[disabled] {
		pointer-events: none;
		color: $color-neutral--400;
		border-color: $color-neutral--400;
	}
}

%button-secondary-brand {
	color: $color-neutral--100;
	border: 1px solid currentColor;

	&::before {
		border-color: currentColor;
	}

	/** STATE **/
	&:hover,
	&:focus {
		&:not(:active)::before {
			opacity: 1;
		}
	}

	&[disabled] {
		pointer-events: none;
		color: $color-neutral--400;
		border-color: $color-neutral--400;
	}
}

.wp-block-button {
	/**
	 * Component
	 */
	@include reset-button;
	color: $color-neutral;
	cursor: default;

	display: inline-block;

	button {
		background-color: transparent;
		border: none;
		border-radius: 0;
		outline: 0;
		appearance: none;
		cursor: pointer;
	}

	&__link {
		@extend %button;
		background-color: transparent;
		border-radius: 0;
		text-align: inherit;
	}

	/**
	 * Modifiers
	 */
	&.button--primary,
	&.is-style-primary,
	&:not(.button--primary-white):not(.is-style-primary-white):not(.button--secondary):not(.is-style-secondary):not(.button--secondary-brand) {
		.wp-block-button__link {
			@extend %button-primary-color;
		}
	}

	&.button--primary-alt,
	&.is-style-primary-alt {
		.wp-block-button__link {
			@extend %button-primary-color-alt
		}
	}

	&.button--primary-white,
	&.is-style-primary-white {
		.wp-block-button__link {
			@extend %button-primary-white;
		}
	}

	&.button--secondary,
	&.is-style-secondary {
		.wp-block-button__link {
			@extend %button-secondary;
		}
	}
	&.button--secondary-brand,
	&.is-style-secondary-brand {
		.wp-block-button__link {
			@extend %button-secondary-brand;
		}
	}

	&.is-loading {
		pointer-events: none;
		opacity: .7;
	}
}
