{% if data.link %}{% set data = data|merge({url : data.link}) %}{% endif %}

{# If no URL => <button> instead of <a> #}
{% set tag %}{% if data.url %}a{% else %}button{% endif %}{% endset %}

{% if data.target and data.target == '_blank' %}
{% set icon = 'external' %}
{% endif %}
{% if link_attrs and ('data-loadmore' in link_attrs) %}
{% set icon = 'load-more' %}
{% endif %}

<div class="wp-block-button {{ modifiers|join(' ') }}">
	<{{tag}}
		class="wp-block-button__link"
		{{ link_attrs|attrs }}
		{% if data.url %}href="{{ data.url }}"{% endif %}
		{% if data.target %} target="{{ data.target }}"{% endif %}
	>
		{{ data.title }}
		{% if icon %}
		<svg>
			<use href="#{{ icon }}" />
		</svg>
		{% endif %}
	</{{tag}}>
</div>
