.switch {
	position: relative;
	display: flex;
	font-size: 14px;

	&__chk {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}

	&__label {
		position: relative;
		z-index: 1;
		height: 20px;
		width: 38px;
		order: 2;
		cursor: pointer;

		border-radius: 34px;
		font-size: 0;

		box-shadow: none;
		background-color: #858585;
		transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;

		&::before {
			content: "";
			position: absolute;
			top: calc(50% - 8px);
			left: 2px;
			display: block;
			height: 12px;
			width: 12px;
			border-radius: 50%;
			background-color: transparent;
			border: 2px solid #ffffff;
			transition: background-color 0.2s ease-out, transform 0.2s ease-out;
		}
	}

	/**
	 * STATES
	 */

	&__chk {
		&:checked + label {
			background-color: #00A54B;

			&::before {
				transform: translateX(18px);
				background-color: #ffffff;
			}
		}

		&:focus + label {
			box-shadow: inset #007cba 0px 0px 1px 1px, #007cba 0px 0px 1px 1px;
		}
	}
}


