/*
 * Theme Name: Pizza Pasta
 * Description: Handcrafted custom theme by superhuit.ch.
 * Author: superhuit
 * Version: 0.5.0
 *
 * Specific styles when the admin top bar is shown
 */

#wpadminbar#wpadminbar {
	position: fixed; /* force on mobile */
}

/* @media screen and (max-width: 782px) {
	.page.admin-bar {
		margin-top: 46px;
	}
	.page.admin-bar .nav {
		top: 46px;
	}
}

@media screen and (min-width: 783px) {
	.page.admin-bar {
		margin-top: 32px;
	}
	.page.admin-bar .nav {
		top: 32px;
	}
} */

.page.admin-bar .page__nav + .page__wrapper,
.page.admin-bar .page__nav + .home-header {
	margin-top: 208px; /* 153px + 55px */
}

@media screen and (max-width: 767px) {
	.page.admin-bar .page__nav.nav--mobile + .page__wrapper,
	.page.admin-bar .page__nav.nav--mobile + .home-header {
		margin-top: 92px;
	}
}

@media screen and (min-width: 768px) {
	.page.admin-bar .page__nav.nav--mobile + .page__wrapper,
	.page.admin-bar .page__nav.nav--mobile + .home-header {
		margin-top: 132px; /* 92px + 40px; */
	}
}
