/*
 * Theme Name: Pizza Pasta
 * Description: Handcrafted custom theme by superhuit.ch.
 * Author: superhuit
 * Version: 0.5.0
 *
 * Specific styles when the admin top bar is shown
 */

/**
 * ACF repeater block
 * Arrange the columns for better UI
 */

.edit-post-layout__content .acf-field-repeater.has-2-columns > .acf-input > .acf-repeater > .acf-table > tbody,
.edit-post-layout__content .acf-field-repeater.has-3-columns > .acf-input > .acf-repeater > .acf-table > tbody,
.edit-post-layout__content .acf-field-repeater.has-4-columns > .acf-input > .acf-repeater > .acf-table > tbody {
	display: flex;
	flex-wrap: wrap;
	justify-content: stretch;
}

.edit-post-layout__content .acf-field-repeater.has-2-columns > .acf-input > .acf-repeater > .acf-table > tbody > .acf-row,
.edit-post-layout__content .acf-field-repeater.has-3-columns > .acf-input > .acf-repeater > .acf-table > tbody > .acf-row,
.edit-post-layout__content .acf-field-repeater.has-4-columns > .acf-input > .acf-repeater > .acf-table > tbody > .acf-row {
	display: flex;
	flex-shrink: 0;
	flex-grow: 0;
	box-sizing: border-box;
	border-right: 1px solid #DFDFDF;
}
.edit-post-layout__content .acf-field-repeater.has-2-columns > .acf-input > .acf-repeater > .acf-table > tbody > .acf-row { flex-basis: 50%; }
.edit-post-layout__content .acf-field-repeater.has-3-columns > .acf-input > .acf-repeater > .acf-table > tbody > .acf-row { flex-basis: 33.3333%;}
.edit-post-layout__content .acf-field-repeater.has-4-columns > .acf-input > .acf-repeater > .acf-table > tbody > .acf-row { flex-basis: 25%; }

.edit-post-layout__content .acf-field-repeater.has-2-columns > .acf-input > .acf-repeater > .acf-table > tbody > .acf-row:nth-child(2n+2),
.edit-post-layout__content .acf-field-repeater.has-3-columns > .acf-input > .acf-repeater > .acf-table > tbody > .acf-row:nth-child(3n+3),
.edit-post-layout__content .acf-field-repeater.has-4-columns > .acf-input > .acf-repeater > .acf-table > tbody > .acf-row:nth-child(4n+4) {
	border-right: none;
}

.edit-post-layout__content .acf-field-repeater.has-2-columns > .acf-input > .acf-repeater > .acf-table > tbody > .acf-row:nth-child(2) > td,
.edit-post-layout__content .acf-field-repeater.has-3-columns > .acf-input > .acf-repeater > .acf-table > tbody > .acf-row:nth-child(2) > td,
.edit-post-layout__content .acf-field-repeater.has-3-columns > .acf-input > .acf-repeater > .acf-table > tbody > .acf-row:nth-child(3) > td,
.edit-post-layout__content .acf-field-repeater.has-4-columns > .acf-input > .acf-repeater > .acf-table > tbody > .acf-row:nth-child(2) > td,
.edit-post-layout__content .acf-field-repeater.has-4-columns > .acf-input > .acf-repeater > .acf-table > tbody > .acf-row:nth-child(3) > td,
.edit-post-layout__content .acf-field-repeater.has-4-columns > .acf-input > .acf-repeater > .acf-table > tbody > .acf-row:nth-child(4) > td {
	border-top: none;
}

.edit-post-layout__content .acf-field-repeater.has-2-columns .acf-repeater .acf-row-handle,
.edit-post-layout__content .acf-field-repeater.has-3-columns .acf-repeater .acf-row-handle,
.edit-post-layout__content .acf-field-repeater.has-4-columns .acf-repeater .acf-row-handle {
	width: 26px;
}
.edit-post-layout__content .acf-field-repeater.has-2-columns .acf-repeater .acf-row-handle .acf-icon,
.edit-post-layout__content .acf-field-repeater.has-3-columns .acf-repeater .acf-row-handle .acf-icon,
.edit-post-layout__content .acf-field-repeater.has-4-columns .acf-repeater .acf-row-handle .acf-icon {
	margin-left: -6px;
}

.edit-post-layout__content .acf-field-repeater.has-2-columns .acf-fields,
.edit-post-layout__content .acf-field-repeater.has-3-columns .acf-fields,
.edit-post-layout__content .acf-field-repeater.has-4-columns .acf-fields {
	width: 100%;
}

.short-editor-50 .acf-editor-wrap iframe {
	min-height: 30px;
	max-height: 50px;
}
.short-editor-50 .acf-editor-wrap .wp-editor-area {
	height: 50px !important;
}

.short-editor-100 .acf-editor-wrap iframe {
	min-height: 50px;
	max-height: 100px;
}
.short-editor-100 .acf-editor-wrap .wp-editor-area {
	height: 100px !important;
}

.short-editor-150 .acf-editor-wrap iframe {
	min-height: 50px;
	max-height: 150px;
}
.short-editor-150 .acf-editor-wrap .wp-editor-area {
	height: 150px !important;
}

.short-editor-200 .acf-editor-wrap iframe {
	min-height: 100px;
	max-height: 200px;
}
.short-editor-200 .acf-editor-wrap .wp-editor-area {
	height: 200px !important;
}


/**
 * ACF group
 */
.acf-field.acf-group-instuction-below-label > .acf-label {
	margin-bottom: 3px;
}
.acf-group-instuction-below-label > .acf-input {
	display: flex;
	flex-direction: column;
}
.acf-group-instuction-below-label > .acf-input > .description {
	order: -1;
	margin-bottom: 10px;
}


/**
 * ACF Relationship in rows instead of columns
 * in the block settings panel
 */
.acf-block-panel .acf-field-relationship.relationship-in-row .selection > .choices,
.acf-block-panel .acf-field-relationship.relationship-in-row .selection > .values {
	width: 100%;
	float: none;
	clear: both;
}
.acf-block-panel .acf-field-relationship.relationship-in-row .selection > .choices > .choices-list {
	border-right: none;
	border-bottom: #DFDFDF solid 1px;
}

/**
 * Gutenberg
 */
/* hide gutenberg "most used" section */
/* UPDATE: commented as it breaks the "search" feature */
/* .editor-inserter__results.block-editor-inserter__results > *:first-child {
	display: none;
} */


/**
 * Media
 */

/* hide useless "required" note */
.media-modal.wp-core-ui .media-types.media-types-required-info {
	display: none;
}

/* hide useless resmush.it fields */
.media-modal.wp-core-ui .compat-field-rsmt-status-button,
.media-modal.wp-core-ui .compat-field-rsmt-disabled-checkbox {
	display: none;
}

/* hide "description" field */
.media-modal.wp-core-ui .setting[data-setting="description"] {
	display: none;
}

.fixed .column-country {
	width: 10%;
}


/**
 * Taxonomy: Festival Edition
 */

/* hide slug + parent term */
.wp-admin.wp-core-ui.taxonomy-festival_edition .form-field.term-slug-wrap,
.wp-admin.wp-core-ui.taxonomy-festival_edition .form-field.term-parent-wrap {
	display: none;
}


/**
 * Taxonomy: Stage
 */

/* hide parent term + description */
.wp-admin.wp-core-ui.taxonomy-stage .form-field.term-parent-wrap,
.wp-admin.wp-core-ui.taxonomy-stage .form-field.term-description-wrap,
.wp-admin.wp-core-ui.taxonomy-stage .column-description {
	display: none;
}


/**
 * Taxonomy: Tickets Category
 */

/* hide slug + parent term */
.wp-admin.wp-core-ui.taxonomy-tickets_category .form-field.term-slug-wrap,
.wp-admin.wp-core-ui.taxonomy-tickets_category .form-field.term-parent-wrap {
	display: none;
}


/**
 * Taxonomy: Artist
 */

/* hide parent term */
.wp-admin.wp-core-ui.taxonomy-artist .form-field.term-parent-wrap {
	display: none;
}


/**
 * Taxonomy: Category
 */

/* hide parent term + description */
.wp-admin.wp-core-ui.taxonomy-category .form-field.term-parent-wrap,
.wp-admin.wp-core-ui.taxonomy-category .form-field.term-description-wrap,
.wp-admin.wp-core-ui.taxonomy-category .column-description {
	display: none;
}


/**
 * Taxonomy: Topic (tag)
 */

/* hide description */
.wp-admin.wp-core-ui.taxonomy-post_tag .form-field.term-description-wrap,
.wp-admin.wp-core-ui.taxonomy-post_tag .column-description {
	display: none;
}


/**
 * WPML
 */

/* in post listing, hide wpml "translate" links as we want to force "duplicate" instead */
.icl_translations.column-icl_translations a[href^="post-new.php"] {
	display: none !important;
}

/* in post edit, hide "translate" option as we want to force "duplicate" instead */
#icl_untranslated_table tr > *:nth-child(2) {
	display: none !important;
}

/**
 * Post Type: Post
 */
.tablenav .actions #filter-by-format,
.tablenav .actions .screen-reader-text[name="filter-by-format"] {
	display: none;
}
