%t-link-underline,
%t-link-underline-not-visible {
	background-repeat: no-repeat;
	background-position: left bottom;
	background-image: linear-gradient(currentColor, currentColor);
	transition: background-size $transition-fast ease-out;
}

%t-link-underline {
	background-size: 100% 1px;

	&:hover,
	&:focus {
		background-size: 100% 2px;
	}
}

%t-link-underline-not-visible {
	background-size: 100% 0px;

	&:hover,
	&:focus {
		background-size: 100% 1px;
	}
}

%t-link,
%t-link-typo {
	position: relative;
	cursor: pointer;
	display: inline;
	text-decoration: none;
	color: inherit;
	line-height: 0;
}

%t-link {
	@extend %t-link-underline;

	&:hover,
	&:focus {
		background-size: 100% 2px;
	}
}

%t-link-typo {
	@extend %t-link-underline;
	background-image: linear-gradient(0deg, $color-brand 0%, $color-brand 100%);
}


.link {
	@extend %t-link;
}

.link-typo {
	@extend %t-link-typo;
}
