.wp-block[data-type="supt/weekmenu"] {
	.weekmenu__title {
		font-family: 'Lobster', sans-serif;
		font-weight: 400;
	}

	.weekmenu__header {
		margin-bottom: 0px;
	}

	.weekmenu__header-date {
		font-weight: 400;
	}

	.weekmenu__list {
		color: white;
		padding: 0;
		padding-left: 0px;

		li:first-child {
			.menu-section .menu-section__header > div {
				display: none;
			}
		}
	}

	.weekmenu__information {
		font-family: Cabin;
    font-weight: 400;
	}

	.menu-section__header {
		display: flex;
		flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;

		h2 {
			font-size: 22px;
			font-weight: 400;
			margin-bottom: 10px;
		}

		&-holiday {
			display: flex;
			font-size: 16px!important;

			> div {
				margin-left: 3px;
			}
		}

		> div {
			width: 100%;
		}
	}

	.menu-section__list {
		list-style-type: none;
		padding-left: 0;
		margin-left: 0;
	}

	.menu-section__item {
		display: flex;
		font-family: Cabin;

		&-text {
			display: flex;

			> div {
				margin-right: 32px;
			}
		}

		&-price {
			margin-left: auto;
		}
	}
}
