.weekmenu {
	/**
	 * Component styling
	 * - only styles of the container, no positioning of the component
	 */

	@include grid;

	 /**
	 * Children
	 * - stylings and positioning for simple tags and/or __child classes
	 * - positioning of other components
	 */

	&__inner {
		@include faux-subgrid(12);
		@include fluid(padding-top, ($fluid-min: 22px, $fluid-max: 64px));
		@include fluid(padding-bottom, ($fluid-min: 12px, $fluid-max: 64px));

		grid-column: 1 / 13;
		background-color: $color-brand;

		@media (min-width: $laptop-breakpoint) {
			@include faux-subgrid(9);
			grid-column: 2 / 11;
		}
	}

	&__header,
	&__list,
	&__information {
		grid-column: 1 / 13;
		@include fluid(margin-left margin-right, ($fluid-min: 12px, $tablet-breakpoint: 22px, $laptop-breakpoint - 1: 22px, $laptop-breakpoint: -24px, $desktop-breakpoint: -32px));

		@media (min-width: $laptop-breakpoint) {
			grid-column: 2 / 9;
		}
	}

	&__header {
		@include fluid(margin-bottom, ($fluid-min: 15px, $fluid-max: 30px));
		color: $color-neutral--100;

		@media (min-width: $laptop-breakpoint) {
			display: flex;
			justify-content: space-between;
			align-items: baseline;
		}

		&-title {
			@extend %t-h1;
			@media (max-width: $laptop-breakpoint - 1) {
				margin-bottom: 5px;
			}
		}

		&-date {
			@extend %t-h3;
			font-weight: $font-weight-semibold;
		}
	}

	&__list {
		list-style-type: none;

		&-section {
			margin-bottom: 15px;
		}
	}

	&__information {
		display: block;
		text-align: right;
		line-height: 28px;
		font-size: 14px;
		font-weight: $font-weight-semibold;
		color: $color-neutral--100;
	}
}


