<div class="weekmenu {{ modifiers|join(' ') }}" {{ html_attrs|attrs }}>
	<div class="weekmenu__inner">
		<div class="weekmenu__header">
			<h1 class="weekmenu__header-title">Menu de la semaine</h1>
			<h2 class="weekmenu__header-date">{{ data.date }}</h2>
		</div>
		<ul class="weekmenu__list">
			{% for item in data.list %}
			<li class="weekmenu__list-section">
				{% include 'molecules/menu-section/menu-section.twig' with item %}
			</li>
			{% endfor %}
		</ul>
		<span class="weekmenu__information">Service de midi uniquement</span>
	</div>
</div>
