// Core
@import 'styleguide/scss/gutenberg-base';

// editor layout
.post-type-page .editor-styles-wrapper .wp-block { // only for post type "page"
	// Set to 80% so we can have a clear difference with image in wide mode @ 100%
	max-width: 80%
}

.editor-block-list__block {
	margin-bottom: 50px;
}

// editor icons
.components-panel__body .block-editor-block-icon {
	width: auto;
	height: auto;

	svg {
		max-width: 48px;
		max-height: 48px;
	}
}

.editor-styles-wrapper { // Gutenberg editor wrapper class

	//===============================
	// ATOMS / MOLECULES / ORGANISMS
	//===============================
	@import "styleguide/components/0-typography/t-headings/t-headings";
	@import "styleguide/components/0-typography/t-link/t-link";
	@import "styleguide/components/0-typography/t-list/t-list";
	@import "styleguide/components/0-typography/t-quote/t-quote";
	@import "styleguide/components/0-typography/t-paragraph/t-paragraph";

	@import "styleguide/components/atoms/button/button";
	@import "styleguide/components/molecules/contact/contact";
	@import "styleguide/components/molecules/card-news/card-news";
	@import "styleguide/components/organisms/section-schedule/section-schedule";
	@import "styleguide/components/organisms/section-card-news/section-card-news";
	@import "styleguide/components/organisms/menu/menu";
	@import "styleguide/components/organisms/weekmenu/weekmenu";

	@import "styleguide/components/wp-blocks/gallery/gallery";


	//===============================
	// GUTENBERG EDITOR OVERRIDES
	//===============================
	$typography-spacing-unit-min: 24px;
	$typography-spacing-unit-max: 34px;

	// RESETS
	// h1, h2, h3, h4, p, ul {
	// 	// margin: 0;
	// }

	.editor-post-title {
		textarea {
			@extend %t-h1;
		}
	}

	div[data-type="core/heading"] > h2,
	h2 {
		@extend %t-h2;
		@include fluid(margin-top, ($fluid-min: $typography-spacing-unit-min * 2, $fluid-max: $typography-spacing-unit-max * 2));
		font-size: 18px;
	}

	div[data-type="core/heading"] > h3 {
		@extend %t-h3;
		@include fluid(margin-top, ($fluid-min: $typography-spacing-unit-min * 1.5, $fluid-max: $typography-spacing-unit-max * 1.5));
		@include fluid(margin-bottom, ($fluid-min: 16px, $fluid-max: 20px));
		font-size: 14px;
	}

	div[data-type="core/heading"] > h4 {
		@extend %t-h4;
		@include fluid(margin-top, ($fluid-min: $typography-spacing-unit-min * 1.5, $fluid-max: $typography-spacing-unit-max * 1.5));
		margin-bottom: 8px;
		font-size: 16px;
	}

	blockquote {
		border-left: none;
		margin-top: 60px;
		margin-bottom: 60px;
	}

	.wp-block-quote {
		margin-left: 24px;
	}

	.block-library-list,
	div[data-type="core/list"] {
		> ol,
		> ul {
			@extend %t-list-base;
		}
		> ol {
			@extend %t-list-ol;
		}
		> ul {
			@extend %t-list-ul;
		}

		ol, ul {
			padding-left: 0;
			margin-left: 0;
		}
	}

	// This is ugly, but when overriding default core-list/edit function
	// the class doesn't apply them same way, so this is a work-aroun
	// to continue to have nice styles while editing
	ol.block-library-list {
		@extend %t-list-base;
		@extend %t-list-ol;
	}
	ul.block-library-list {
		@extend %t-list-base;
		@extend %t-list-ul;
	}

	p.wp-block-paragraph {
		@extend %t-p;
	}

	.wp-block-button__link {
		border-radius: 0;
		background-color: transparent;
	}

	.editor-placeholder-text {
		color: #ccc;
	}

	.editor-block-list > * > .wp-block-image {
		@include grid;
	}

	> .wp-block-image > img {
		grid-column: 1 / span 12;
		max-width: 100%;
		width: 100%;
	}

	// TODO: Maybe move this elsewhere or get rid of it once we have implemented our own image/video blocks
	.wp-block-image,
	.wp-block-embed-youtube {
		figcaption {
			text-align: left;
		}
	}

}

// .wp-embed-responsive .wp-block-embed.wp-embed-aspect-9-16 .wp-block-embed__wrapper iframe
.wp-embed-responsive .wp-block-embed {
	&.wp-block-embed-spotify .wp-block-embed__wrapper iframe:not([src*="playlist"]) {
		position: static;
		height: 80px;
		padding: 0;
	}

	&.wp-block-embed-soundcloud iframe:not([src*="playlist"]) {
		position: static;
		height: 100px;
		padding: 0;
	}

	&.wp-block-embed-spotify .wp-block-embed__wrapper:before,
	&.wp-block-embed-soundcloud .wp-block-embed__wrapper:before {
		padding-top: 0;
	}
}

.post-type-post {
	.editor-post-title__input {
		font-family: 'Lobster';
	}

	.h2.rich-text.block-editor-rich-text__editable {
		font-size: 18px;
	}
}

.post-type-page {
	.editor-post-title {
		display: none;
	}

	.wp-block[data-type="core/image"] {
		figure {
			@include grid;

			> div {
				grid-column: 4 / 12;
			}
		}

		figcaption {
			display: none;
		}
	}
}

.wp-block[data-type="core/image"] {
	figcaption {
		font-family: 'Cabin';
	}
}
