/**
 * Paragraph Base
 */
%t-p-base {
	@include fluid(line-height, ($fluid-min: 22px, $fluid-max: 28px));
	color: $color-text;

	font-family: $font-primary;
	font-weight: $font-weight-regular;
	font-size: 14px;
}

/**
 * Paragraph Default
 */
%t-p,
.p {
	@extend %t-p-base;

	/**
	 * Children
	 */
	a {
		@extend %t-link-typo;
	}

	strong,
	b {
		font-weight: $font-weight-bold;
	}

	em,
	i {
		font-style: italic;
	}

	small {
		font-size: .8em;
	}

	mark {
		background-color: $color-text-muted;
	}

	// del {}
	// ins {}
}

/**
 * Modifiers
 */
%t-p--lead,
.p.p--lead {
	@include fluid(line-height, ($fluid-min: 24px, $fluid-max: 36px));
	font-size: 18px;
	font-weight: $font-weight-regular;
}
