.wp-block[data-type="supt/menu"] {
	.menu__list {
		padding: 0;
	}

	.menu-section {
		&__header {
			display: flex;
			justify-content: space-between;
			align-items: center;

			h2 {
				font-weight: 600;
				font-size: 18px;
			}
		}

		&__list {
			list-style-type: none;
			padding: 0;
			margin: 0;
			font-family: 'Cabin';
		}

		&__item {
			display: flex;
			justify-content: space-between;

			&-text {
				display: flex;

				> div[role="textbox"] {
					margin-right:  30px;
				}
			}

			&-price {
				margin-left: auto;
				margin-right: 20px;
			}
		}

		&__informations {
			margin: 10px 0px;
			background-color: white;
			padding: 19px 15px;

			&-list {
				display: flex;
				flex-wrap: wrap;
				list-style-type: none;
				padding-left: 0px;
				margin-left: 0px;

				li:not(:first-child) {
					button {
						display: none;
					}
				}

				li:not(:last-child) {
					> div::after {
						content: "–";
						margin-left: 10px;
					}
				}

				li {
					> div {
						margin-right: 10px;
					}
				}
			}

			&-item:not(:first-of-type) {
				margin-top: 15px;
			}

			&-button {
				margin-top: 10px;
			}
		}
	}

	.menu__inner > .components-button.is-primary[type="button"] {
		grid-column: 4 / 7;
    text-align: center;
    padding-left: 62px;
	}

	.controls-buttons {
		> :first-child {
			margin-right: 20px;
		}
	}
}
