.<%= className %> {
	/**
	 * Variables
	 */

	$<%= className %>-breakpoint: 1056px;

	/**
	 * Component styling
	 * - only styles of the container, no positioning of the component
	 */

	display: flex;
	width: 50vw;
	min-height: 50px;
	padding: 10px;
	background-color: #00f;

	/**
	 * States
	 */

	&:hover,
	&:focus {}

	.is-open {}

	/**
	 * Children
	 * - stylings and positioning for simple tags and/or __child classes
	 * - positioning of other components
	 */

	> span {}

	&__child {}

	.other-component {}

}

<% if (modifiers) { %>
/**
 * Modifiers
 */
<% modifiers.forEach(function(modifier){ %>
.<%= className %>--<%= modifier %> {
	/**
	 * Component overrides
	 */
	background-color: pink;

	/**
	 * Children overrides
	 */
	.<%= className %>__child {}

}<% }); %><% } %>
