%t-quote-base {
 font-family: $font-primary;
}

%t-quote-quote {
	@include fluid(font-size, ($fluid-min: 18px, $tablet-breakpoint: 20px, $fluid-max: 24px, $fluid-huge: 32px));
	@include lhCrop(1.5);
	line-height: 1.5;
	color: $color-brand;

	b,
	strong {
		font-weight: $font-weight-bold;
	}
}

%t-quote-source {
	@include fluid(margin-top, ($fluid-min: 12px, $fluid-max: 32px));

	display: block;
	font-size: 14px;
	line-height: 1.4285714286em;
	color: $color-neutral--600;

	b,
	strong {
		font-weight: $font-weight-bold;
	}

	em {
		font-style: italic;
	}

	a {
		@extend %t-link-typo;
	}
}


.quote {
	@extend %t-quote-base;

	> p {
		@extend %t-quote-quote;
	}

	> cite {
		@extend %t-quote-source;
	}
}
