.template-article {
	overflow-x: hidden;

	/**
	 * Children
	 * - stylings and positioning for simple tags and/or __child classes
	 * - positioning of other components
	 */

	&__content {
		@include grid;
		@include fluid(padding-top, ($fluid-min: 28px, $fluid-max: 8px));
		@include fluid(padding-bottom, ($fluid-min: 48px, $fluid-max: 30px));

		.typography {
			grid-column: 2 / 12;

			@media (min-width: $laptop-breakpoint) {
				grid-column: 4 / 10;
			}

			h1, h2, h3 ,h4,
			p, ol, ul, hr, div, summary {
				grid-column: 2 / 12;
				width: 100%;

				@media (min-width: $laptop-breakpoint) {
					grid-column: 4 / 10;
				}
			}

			figure {
				@include fluid(margin-left margin-right, ($fluid-min: -55px, $laptop-breakpoint - 1: -115px));

				@media(min-width: $laptop-breakpoint) {
					@include fluid(margin-left margin-right, ($laptop-breakpoint: -107px, $desktop-breakpoint: -112px));
				}

				> p,
				> figcaption {
					@include fluid(margin-left, ($fluid-min: 45px, $laptop-breakpoint - 1: 107px));

					@media(min-width: $laptop-breakpoint) {
						@include fluid(margin-left margin-right, ($laptop-breakpoint: 107px, $desktop-breakpoint: 112px));
					}
				}
			}
		}
	}
}


