{% extends "_base.twig" %}

{% block content %}
	<div class="template-article {{ modifiers|join(' ') }}" {{ html_attrs|attrs }}>

		{% include 'organisms/header/header.twig' with data.header %}

		<div class="template-article__content">
			<div class="typography">
				{{ data.content }}
			</div>
		</div>

	</div>
{% endblock %}
