.doc-icons h3 {
	margin-top: 2em;
	text-transform: capitalize;
}

.doc-icons ul {
	display: grid;
	grid-template-columns: repeat(3, 33.33%);
	grid-gap: 15px;
	padding: 0 !important;
	margin: 0 !important;
}

.doc-icons li {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-flow: column nowrap;
	text-align: center;
	background-color: #F7F7F7;

}

.doc-icons__icon {
	padding: 20px 0px;
	color: #666;
	box-shadow: 0 5px 10px 0px rgba(0,0,0,0.1);
}
.doc-icons__icon:hover {
	color: #2d2d2d;
}

.doc-icons__icon svg {
	display: block;
	margin: 0 auto 10px;
	width: 40px;
	height: 40px;
	fill: currentColor;
	transition: fill .2s ease;
}

.doc-icons__icon h4 {
	font-family: Hack, Consolas, Monaco, "Andale Mono", monospace;
	font-size: .7em;
	line-height: 1.71429;
	padding: 3px 5px;

}
