.doc-wrapper {
	display: flex;
	align-items: flex-start;
}

.doc-grid-summary {
	position: sticky;
	top: 1em;
	order: 2;
	margin-left: 5em;
	flex-basis: 15em;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	background-color: #fafafa;
	display: none;
}

.doc-grid-summary h4 {
	text-transform: uppercase;
	font-size: 13px;
	padding: 1em;
	border-bottom: 1px solid #eee;

}

.doc-grid-summary > ul {
	font-size: 14px;
	padding: .8em;
}
.doc-grid-summary li {
	padding: 2px 0 0 2px;
}

.doc-grid-summary ul ul {
	margin-left: 1.5em;
	list-style: circle;
	margin-bottom: .5em;
}

.doc-grid-summary a {
	text-decoration: none;
}
.doc-grid-summary a:hover {
	text-decoration: underline;
}


@media (min-width: 60em) {
	.doc-grid-summary {
		display: block;
	}
}

/* ***************** */
.grid-doc-wrapper {
	position: relative;
	box-sizing: border-box;
	width: 60em;
	padding: .5em 0;
	border: 1px solid #ccc;
}

.grid {
	display: grid;
	margin-left: 22px;
	margin-right: 22px;

	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 32px;
	grid-row-gap: .5rem;
}


.grid > div {
	box-sizing: border-box;
	min-height: 2.25rem;
	margin-bottom: 0;
	background: rgba(0, 0, 255, 0.1);
	border-radius: 2px;
	overflow: hidden;
	text-align: center;
	color: black;
	border: 1px solid rgb(0, 0, 255);
	padding: .5rem;

	font-family: "Roboto", Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
}

.grid_full {
	grid-column: grid-start / grid-end;
}

.grid_content {
	grid-column: content-start / content-end;
}
