.colors {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 5px;
	text-align: center;
	margin-bottom: 3rem;
}
@media (min-width: 600px) {
	.colors {
		grid-template-columns: repeat(2, 50%);
	}
}
@media (min-width: 1024px) {
	.colors {
		grid-template-columns: repeat(3, 33%);
	}
}
@media (min-width: 1280px) {
	.colors {
		grid-template-columns: repeat(4, 25%);
	}
}

.color {
	margin-bottom: 1.5rem;
	background-color: #F7F7F5;
	box-shadow: 0 5px 10px 0px rgba(0,0,0,0.1);
	
}

.color::before {
	content: '';
	display: block;
	width: 100%;
	height: 5em;
	background-color: currentColor;
}

.color-values {
	padding: 8px 12px;
	color: #414141;
}

.color-values div {
	font-family: "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
	font-size: .8em;
	line-height: 1.05em;
	padding: .7em 0;
	display: block;
}
.color-values div::selection {
	background-color: #414141;
	color: white;
}

.color-values pre {
	font-family: Hack, Consolas, Monaco, "Andale Mono", monospace;
	font-size: .7em;
	line-height: 1.05;
	padding: 3px 5px;
	cursor: pointer;
	border-bottom: 1px dotted transparent;
	display:inline-block;
	user-select: all;
}

.color-values pre:hover {
	border-bottom: 1px dotted #333;
}

