.Header {
	display: flex;

	align-items: center;
	background-color: white;
	box-shadow: 0 0 9px 1px rgba(0,0,0,0.2);
}

.Header-navToggle {
	height: 4rem;
	width: 4rem;
}

.Header-navToggleIcon {
	height: 36px;
	width: 36px;
}

[dir='ltr'] .Header-button {
	border-right: 1px solid #2B2828;
}

.Header-navToggle > svg {
	fill: #2B2828;
}

.Header-logo {
	height: 50px;
}

.Header-project-title {
	margin-left: 10px;

	color: black;
	font-weight: bold;
}

.Header-title {
	display: flex;

	padding: initial;
	padding-left: 15px;

	align-items: center;
}

.Header-version,
.Header-version:focus,
.Header-version:active {
	flex-grow: 1;
	text-align: right;
	margin-right: 2em;
	color: #2B2828;
	text-decoration: none;
}

.Header-version:hover {
	text-decoration: underline;
	color: #F0F0F0;
}

.Navigation {
	display: flex;

	height: 100%;
	min-height: 100%;

	flex-direction: column;
}

.Navigation-wrap {
	flex-grow: 1;
}

.Navigation-logo {
	margin: 16px;

	height: 30px;
	width: 96px;

	flex-shrink: 0;
	opacity: .7;
	transition: opacity .2s ease-out;
}

.Navigation-logo:hover {
	opacity: 1;
}

.Frame-panel--sidebar {
	padding-bottom: 0;
}

.Preview-wrapper {
	min-width: 329px;
}

kbd {
	background-color: #fafbfc;
	border: 1px solid #d1d5da;
	border-bottom-color: #c6cbd1;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 #c6cbd1;
	color: #444d56;
	display: inline-block;
	font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
	line-height: 10px;
	padding: 3px 5px;
	vertical-align: middle;
}

/**
 * Overide the main links color
 */
a {	color: #2B2828; }
a:hover {	color: #2B2828; }
.Pen-previewLink svg { fill: #2B2828; }
.Browser-tab.is-active a { border-bottom-color: #2B2828; }
